<div class="contactPage">



    <section class="topInsideBanner pos-rel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="wow fadeInUp"><span>CONTACT US</span>
                        WE LOOK FORWARD TO HEARING FROM YOU
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="mapArea">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="wow fadeInUp">GET IN TOUCH WITH US!</h3>
                </div>
                <div class="col-md-3">
                    <div class="conatctLogo">
                        <img src="assets/images/contactlogo.png" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="contactsder">
                        <h4 class="wow fadeInUp">CORPORATE OFFICE</h4>
                        <p class="wow fadeInUp">Ambuja Cement Foundation<br>
                            Elegant Business Park, MIDC Cross Road 'B'<br>
                            Off Andheri-Kurla Road, Andheri (E)<br>
                            Mumbai 400059</p>
                        <p class="wow fadeInUp">Tel: 022-40667500</p>
                        <p class="wow fadeInUp">Email: info@ambujacementfoundation.com</p>
                        <p class="wow fadeInUp">CIN: U91990MH1993NPL264710</p>
                        <img src="assets/images/map.png" class="img-responsive" alt="">
                        <div class="partnershipQuery">
                            <h4 class="wow fadeInUp">For Partnership Queries</h4>
                            <a href="" class="wow fadeInUp">ceo.acf@ambujacement.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contactTab">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="tab">
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'ANDHRAPRADESH')"
                            id="defaultOpen">ANDHRA PRADESH</button>
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'CHHATTISGARH')"
                            id="defaultOpen">CHHATTISGARH</button>
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'GUJARAT')"
                            id="defaultOpen">GUJARAT</button>
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'MADHYAPRADESH')"
                            id="defaultOpen">MADHYA PRADESH</button>
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'MAHARASHTRA')"
                            id="defaultOpen">MAHARASHTRA</button>
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'PUNJAB')"
                            id="defaultOpen">PUNJAB</button>
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'HIMACHALPRADESH')"
                            id="defaultOpen">HIMACHAL PRADESH</button>
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'RAJASTHAN')"
                            id="defaultOpen">RAJASTHAN</button>
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'WESTBENGAL')"
                            id="defaultOpen">WEST BENGAL</button>
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'UTTARPRADESH')"
                            id="defaultOpen">UTTAR PRADESH</button>
                        <button class="tablinks wow fadeInUp" onclick="openCity(event, 'UTTRAKHAND')"
                            id="defaultOpen">UTTRAKHAND</button>

                    </div>
                </div>
                <div class="col-md-9">
                    <div class="txtDesa">
                        <h3 class="wow fadeInUp">Regional offices</h3>
                    </div>
                    <div id="ANDHRAPRADESH" class="tabcontent">
                        <h4 class="wow fadeInUp">Heading</h4>
                        <p class="wow fadeInUp">Data</p>
                    </div>

                    <div id="CHHATTISGARH" class="tabcontent">
                        <div class="addressTstxd">
                            <h4 class="wow fadeInUp">Heading</h4>
                            <p class="wow fadeInUp">Data</p>
                        </div>
                    </div>

                    <div id="GUJARAT" class="tabcontent">
                        <div class="addressTstxd">
                            <h4 class="wow fadeInUp">Heading</h4>
                            <p class="wow fadeInUp">Data</p>
                        </div>
                    </div>
                    <div id="MADHYAPRADESH" class="tabcontent">
                        <div class="addressTstxd">
                            <h4 class="wow fadeInUp">Heading</h4>
                            <p class="wow fadeInUp">Data</p>
                        </div>
                    </div>
                    <div id="MAHARASHTRA" class="tabcontent">
                        <div class="addressTstxd">
                            <h4 class="wow fadeInUp">CHANDRAPUR </h4>
                            <p class="wow fadeInUp">Maratha Cement Works<br>
                                (A Unit of Gujarat Ambuja Cements Ld.)<br>
                                C/O Ambuja Cement Foundation<br>
                                At & Post Uparwahi, Gadchandur 442908<br>
                                Dist Chandrapur (Maharashtra)</p>

                            <h4 class="wow fadeInUp">NAGPUR</h4>
                            <p class="wow fadeInUp">Ambuja Knowledge Centre Business Hub<br>
                                Yashodham Enclave<br>
                                IInd and part of IIIrd floor<br>
                                16a, Jog Layout, Behind Haldiram Food,<br>
                                Prashant Nagar, Near Ajani Square,<br>
                                Wardha Road, Nagpur – 440015</p>
                        </div>
                    </div>
                    <div id="HIMACHALPRADESH" class="tabcontent">
                        <div class="addressTstxd">
                            <h4 class="wow fadeInUp">Heading</h4>
                            <p class="wow fadeInUp">Data</p>
                        </div>
                    </div>
                    <div id="RAJASTHAN" class="tabcontent">
                        <div class="addressTstxd">
                            <h4 class="wow fadeInUp">Heading</h4>
                            <p class="wow fadeInUp">Data</p>
                        </div>
                    </div>
                    <div id="WESTBENGAL" class="tabcontent">
                        <div class="addressTstxd">
                            <h4 class="wow fadeInUp">Heading</h4>
                            <p class="wow fadeInUp">Data</p>
                        </div>
                    </div>
                    <div id="UTTARPRADESH" class="tabcontent">
                        <div class="addressTstxd">
                            <h4 class="wow fadeInUp">Heading</h4>
                            <p class="wow fadeInUp">Data</p>
                        </div>
                    </div>
                    <div id="UTTRAKHAND" class="tabcontent">
                        <div class="addressTstxd">
                            <h4 class="wow fadeInUp">Heading</h4>
                            <p class="wow fadeInUp">Data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dropUsSale">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="wow fadeInUp">DROP US A LINE</h3>
                    <p class="wow fadeInUp">Premade form</p>
                </div>
            </div>
        </div>
    </section>
    <section class="contactOnline">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="wow fadeInUp">CONTACT US ONLINE</h3>
                </div>
                <div class="col-md-3">
                    <div class="contactBoxes">
                        <img src="assets/images/contact-img1.png" alt="">
                        <a href=""><img src="assets/images/contact-fb.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contactBoxes">
                        <img src="assets/images/contact-img2.png" alt="">
                        <a href=""><img src="assets/images/contact-tw.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contactBoxes">
                        <img src="assets/images/contact-img3.png" alt="">
                        <a href=""><img src="assets/images/contact-linkdin.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contactBoxes">
                        <img src="assets/images/contact-img4.png" alt="">
                        <a href=""><img src="assets/images/contact-yt.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>