
<section class="recognigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="wow fadeInUp">RECOGNITION</h3>
            </div>
            <div class="col-md-12">
                <div class="recognitionSlider owl-carousel owl-theme">
                    <div class="item">
                        <div class="recognitionIn">
                            <img src="assets/images/recongnition-img.png" alt="">
                            <h4 class="wow fadeInUp">ACF Gets 9.27/10 Rating from Crisil</h4>
                            <p class="wow fadeInUp">An external ‘due diligence’ by
                                CRISIL Ltd, which assessed
                                the overall performance of
                                the organization, saw an
                                overall score of 9.27 on a
                                scale of 10</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="recognitionIn">
                            <img src="assets/images/recongnition-img.png" alt="">
                            <h4 class="wow fadeInUp">ACF CERTIFIED AS
                                A ‘GREAT PLACE TO
                                WORK’
                            </h4>
                            <p class="wow fadeInUp">ACF is now certified as a
                                ‘Great Place to Work’ in India
                                under the Non-Profit and
                                Charity Organization</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="recognitionIn">
                            <img src="assets/images/recongnition-img.png" alt="">
                            <h4 class="wow fadeInUp">ACF IN ‘TOP 10
                                INDIAN COMPANIES
                                IN CSR’
                            </h4>
                            <p class="wow fadeInUp">ACF, along with
                                Ambuja Cements Ltd (a
                                LafargeHolcim Group
                                Company) has been
                                recognized among the ‘Top
                                10 Indian Companies for CSR
                                in 2019 by The CSR Journal.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="recognitionIn">
                            <img src="assets/images/recongnition-img.png" alt="">
                            <h4 class="wow fadeInUp">ACF IN ‘TOP 10
                                INDIAN COMPANIES
                                IN CSR’
                            </h4>
                            <p class="wow fadeInUp">ACF, along with
                                Ambuja Cements Ltd (a
                                LafargeHolcim Group
                                Company) has been
                                recognized among the ‘Top
                                10 Indian Companies for CSR
                                in 2019 by The CSR Journal.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>