<div class="problemPage">



    <section class="topInsideBanner pos-rel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="wow fadeInUp"><span>PROBLEM & SOLUTION</span>
                        RURAL POVERTY AND HOW WE TACKLE IT
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="theVastness">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads">
                        <h3>The Vastness of Rural Poverty</h3>
                    </div>
                    <div class="indiaTxt">
                        <p>India is recognized globally as an economic powerhouse. But whilst significant gains have
                            been made over the last 20 years, much of this wealth generation has been inequitable, with
                            600 million living in rural villages, either below or just above the poverty line.</p>

                        <h4>‘ABOVE THE POVERTY LINE’, IS STILL POVERTY! </h4>
                        <p>Whilst official poverty rates in India fell from 45% of the population in 1994 to 25% in
                            2022, those that have ‘come out of poverty’ still live in dire and difficult circumstances.
                            In fact, 56% of the population of India are rural families that do not have a level of
                            income to enable them to live a decent quality of life, rather than just bare subsistence.
                        </p>

                        <h4>WHAT DO RURAL FAMILIES NEED?</h4>
                        <p>The income level of a rural family needs to be sufficient enough to enable them to meet 8
                            basic
                            household needs:</p>

                    </div>

                    <div>
                        <div class="pos-rel curlDot">
                            <div class="col-md-3">
                                <div class="curvieBoxes">
                                    <img src="assets/images/food-icon.png" alt="">
                                    <p>FOOD</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="curvieBoxes">
                                    <img src="assets/images/energy-icon.png" alt="">
                                    <p>ENERGY</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="curvieBoxes">
                                    <img src="assets/images/housing-icon.png" alt="">
                                    <p>HOUSING</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="curvieBoxes">
                                    <img src="assets/images/drinking-water-icon.png" alt="">
                                    <p>DRINKING WATER</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="curvieBoxes">
                                    <img src="assets/images/sanitation-icon.png" alt="">
                                    <p>SANITATION</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="curvieBoxes">
                                    <img src="assets/images/healthcare-icon.png" alt="">
                                    <p>HEALTHCARE</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="curvieBoxes">
                                    <img src="assets/images/education-icon.png" alt="">
                                    <p>EDUCATION</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="curvieBoxes">
                                    <img src="assets/images/social-security-icon.png" alt="">
                                    <p>SOCIAL SECURITY</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="fullImg">
        <img src="assets/images/problem-img1.jpg" class="img-responsive" alt="">
    </div>

    <section class="theLivehood">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads">
                        <h3>LIVELIHOODS IS THE KEY!</h3>
                    </div>
                    <div class="normalTxts">
                        <p>It sounds simple … It’s not! Livelihoods is a multi-faceted issue, and is so much more than
                            just the impart of skills and education. In fact, in order for any person to earn a
                            livelihood they require 5
                            sets of capital to support them. To prosper, rural families need ALL of these things and
                            more, to support them in earning a livelihood. If just one of them topples, the building
                            blocks begin to fall.</p>
                    </div>
                    <div class="humanCaps">
                        <div class="human-img hidden-xs">
                            <div class="hTxtLu">
                                <p class="tpTxt">Human Capital
                                    <span>Skills, knowledge, abilities and capabilities
                                        that aid in development of each asset area.
                                    </span>
                                </p>
                            </div>
                            <div class="hTxtLm">
                                <p class="fbTxt">Natural Capital
                                    <span>Forests, Rivers, Ponds, Trees, Land</span>
                                </p>
                            </div>
                            <div class="hTxtLb">
                                <p class="sbTxt">Social Capital
                                    <span>The benefits that come through
                                        relationships with people and institutions
                                    </span>
                                </p>
                            </div>
                            <img src="assets/images/llivelihoods-img.png" class="img-responsive" alt="">
                            <div class="hTxtRt">
                                <p class="thTxt">Physical Capital
                                    <span>Actual physical things that people
                                        own, control or have access to.
                                    </span>
                                </p>
                            </div>
                            <div class="hTxtRb">
                                <p class="fuTxt">Financial Capital
                                    <span>Income, Credit, Investments</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="human-img visible-xs">
                        <img src="assets/images/llivelihoods-img.png" class="img-responsive" alt="">
                        <div class="humanMblTxts">
                            <p class="tpTxt">Human Capital
                                <span>Skills, knowledge, abilities and capabilities
                                    that aid in development of each asset area.
                                </span>
                            </p>
                            <p class="thTxt">Physical Capital
                                <span>Actual physical things that people
                                    own, control or have access to.
                                </span>
                            </p>
                            <p class="fuTxt">Financial Capital
                                <span>Income, Credit, Investments</span>
                            </p>
                            <p class="sbTxt">Social Capital
                                <span>The benefits that come through
                                    relationships with people and institutions
                                </span>
                            </p>
                            <p class="fbTxt">Natural Capital
                                <span>Forests, Rivers, Ponds, Trees, Land</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="noteTxts">
                    <p>Ref: Livelihood Asset Pentagon of the Sustainable Livelihoods Framework</p>
                </div>
            </div>
        </div>

</section>


<section class="acfSolutionO">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="allHeads">
                    <h3>ACF’S SOLUTION
                    </h3>
                </div>

            </div>
            <div class="col-md-10 col-md-offset-1">
                <p>ACF’s programs support a family in their journey from poverty to prosperity.
                    With almost 3 decades of experience in remote community development, we have seen first-hand,
                    how support across these 6 thrust areas can transform the lives of rural families and communities.
                </p>
            </div>

            <div class="circleCurvey">
                <div class="hidden-xs">
                    <div class="col-md-2">
                        <div class="minBox">
                            <p>Water</p>
                            <img src="assets/images/water-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="minBox">
                            <p></p>
                            <img src="assets/images/agriculture-icon.png" alt="">
                            <p class="circleP">Agriculture</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="minBox">
                            <p>Skill</p>
                            <img src="assets/images/skill-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="minBox">
                            <p></p>
                            <img src="assets/images/health-icon.png" alt="">
                            <p class="circleP">Health</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="minBox">
                            <p>Women</p>
                            <img src="assets/images/woman-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="minBox">
                            <p></p>
                            <img src="assets/images/1education-icon.png" alt="">
                            <p class="circleP">Education</p>
                        </div>
                    </div>
                </div>
                <div class="visible-xs">
                    <div class="col-md-2">
                        <div class="minBox">
                            <p>Water</p>
                            <img src="assets/images/water-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="minBox">
                            <p>Agriculture</p>
                            <img src="assets/images/agriculture-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="minBox">
                            <p>Skill</p>
                            <img src="assets/images/skill-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="minBox">
                            <p>Health</p>
                            <img src="assets/images/health-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="minBox">
                            <p>Women</p>
                            <img src="assets/images/woman-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="minBox">
                            <p>Education</p>
                            <img src="assets/images/1education-icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="acfSolutions">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="allHeads whiteTxt">
                    <h3>CROSS CUTTING THEMES</h3>
                </div>
            </div>
            <div class="col-md-7">
                <img src="assets/images/" alt="">
            </div>
            <div class="col-md-5 hidden-xs">
                <div class="acf_sold">
                    <p>We build people’s institutions to ensure the equitable and sustainable management of all
                        community projects. Farmer Producer Companies, Women’s Federations, SHGs, Cooperatives, Water
                        User Associations, School Management Committees, Village Development Committees … we believe the
                        key to sustainable change comes when people are in the drivers’ seat.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="acf_sold visible-xs">
    <p>We build people’s institutions to ensure the equitable and sustainable management of all community projects.
        Farmer Producer Companies, Women’s Federations, SHGs, Cooperatives, Water User Associations, School Management
        Committees, Village Development Committees … we believe the key to sustainable change comes when people are in
        the drivers’ seat.</p>
</div>
<section class="knowledgeSharing">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="allHeads">
                    <h3>KNOWLEDGE SHARING</h3>
                </div>
                <p>We believe it is important to share our experiences from the field, gathered
                    over nearly 3 decades, with others - and also learn from other like-minded
                    organisations. Our knowledge sharing platforms provide us with
                    the opportunity to exchange ideas, find better ways to tackle problems and
                    collaborate to amplify our impact.</p>
            </div>
            <div class="col-md-12">
                <div class="problemSolutionsSlider owl-carousel owl-theme">
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="probIms">
                                    <img src="assets/images/gray-box.png" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="problemIns">
                                    <h4>WATER STEWARDSHIP & SUSTAINABLE ENVIRONMENT</h4>
                                    <p>ACF organized a virtual event ‘Water
                                        Stewardship & Sustainable Environment’
                                        on 8th June 2022, coinciding with World
                                        Environment Day. Keynote Speakers and
                                        panellists included experts from the water
                                        and sustainability industry who shared their
                                        experiences and best practices on rainwater
                                        management with a special focus on water
                                        in rural areas.
                                    </p>
                                    <a href="">Read More <img src="assets/images/arrow-media.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="probIms">
                                    <img src="assets/images/gray-box.png" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="problemIns">
                                    <h4>WATER STEWARDSHIP & SUSTAINABLE ENVIRONMENT</h4>
                                    <p>ACF organized a virtual event ‘Water
                                        Stewardship & Sustainable Environment’
                                        on 8th June 2022, coinciding with World
                                        Environment Day. Keynote Speakers and
                                        panellists included experts from the water
                                        and sustainability industry who shared their
                                        experiences and best practices on rainwater
                                        management with a special focus on water
                                        in rural areas.
                                    </p>
                                    <a href="">Read More <img src="assets/images/arrow-media.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="probIms">
                                    <img src="assets/images/gray-box.png" class="img-responsive" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="problemIns">
                                    <h4>WATER STEWARDSHIP & SUSTAINABLE ENVIRONMENT</h4>
                                    <p>ACF organized a virtual event ‘Water
                                        Stewardship & Sustainable Environment’
                                        on 8th June 2022, coinciding with World
                                        Environment Day. Keynote Speakers and
                                        panellists included experts from the water
                                        and sustainability industry who shared their
                                        experiences and best practices on rainwater
                                        management with a special focus on water
                                        in rural areas.
                                    </p>
                                    <a href="">Read More <img src="assets/images/arrow-media.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>