<div class="ourPartnersPage">
    <section class="topInsideBanner pos-rel">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="wow fadeInUp"><span>OUR PARTNERS
            </span>
            TOGETHER WE MAKE A BIGGER DIFFERENCE
          </h1>
        </div>
      </div>
    </div>
  </section>
  
  <section class="allPartnerLogo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="allHeads">
            <h3>COLLABORATION IS THE KEY!</h3>
          </div>
          <p>Our work is fueled by a range of collaborative partners, who invest in our work to generate
            prosperity in rural India. It’s a big task and, by working together, we can pool resources to make
          a bigger impact. We applaud our donors for their ongoing support, and for the trust they have placed in us.</p>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo1.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>AMBUJA CEMENTS LTD</h4>
              <p>Provides 32% of ACF annual
                budget, supports on ground
                projects across all thrust areas
                and funds all administrative
              overheads</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo2.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>APM TERMINALS
                PIPAVAV (GUJARAT
                PIPAVAV PORT LTD.) 
              </h4>
              <p>Supporting SEDI, Rajula (Gujarat)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo3.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>APOLLO TYRES
              FOUNDATION</h4>
              <p>Operating 4 x Healthcare Centres
              for Truckers</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo4.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>ASHOK LEYLAND LTD.</h4>
              <p>Support for water project in Alwar
              District (Rajasthan)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo assPad">
            <img src="assets/images/part-logo5.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>ASIAN PAINTS LTD
              </h4>
              <p>Participatory Water Resource
                Development and Management
                for enhancing livelihoods in
                villages of Visakhapatnam
              (Andhra Pradesh)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo6.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>AU SMALL FINANCE
              BANK LTD.</h4>
              <p>Supporting ACF’s Skill
                Development Program with an
                AU Skills Academy in Jaipur,
              Rajasthan</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo7.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>BCI GROWTH &
              INNOVATION FUND</h4>
              <p>Strategic Investments into Better
              Cotton projects</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo8.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>THE COMMUNITY
              </h4>
              <p>The Community are key partners
              and investors across all projects</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo9.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>CIPLA FOUNDATION
  
              </h4>
              <p>SEDI & mask making at
                Nalagarh (HP). Skill training
                centre at AMK, Ropar
                (Punjab). Chronic
                Obstructive Pulmonary Disease
                treatment in Chandrapur
              (Maharashtra)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo10.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>DISTRICT MINERAL
                FOUNDATION, GOVT.
              OF GUJARAT</h4>
              <p>Providing skill training to 900+
                youth from mining affected
                villages across Gujarat
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo11.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>GODREJ AGROVET LTD </h4>
              <p>Promotion of technology
                in agriculture, women
                empowerment, livestock care and
                water resource management in
              Chhattisgarh</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo12.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>HDFC BANK LTD 
              </h4>
              <p>Holistic rural development
                and skill training programme
                in Haridwar (Uttarkhand),
                Ambikapur (Chattisgarh), Patiala
              (Punjab) and Lucknow (UP)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo13.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>HINDUJA LEYLAND
              FINANCE </h4>
              <p>Water Resources Management in
              Ajmer (Rajasthan)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo14.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>HINDUSTAN ZINC LTD</h4>
              <p>Skill Development Centers
                at Dariba, Kayad, Debari and
              Aghoocha (Rajasthan)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo15.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>IDH SUSTAINABLE
              TRADE INITIATIVE</h4>
              <p>Support for water stewardship
                interventions and for COVID-19
              insurance for farmers</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo16.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>INDIAN COUNCIL
                OF AGRICULTURE
              RESEARCH </h4>
              <p>Krishi Vigyan Kendra in Gir
              Somnath, Gujarat</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo17.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>INDUSIND BANK LTD
              </h4>
              <p>Water Resource Management and
                Skill Based Livelihood in Jaitaran
                Block of Pali district, Rajasthan
                and Farakka, West Bengal
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo18.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>KANTHA VIBHAG NAV
              NIRMAN MANDAL </h4>
              <p>Support for infrastructure &
                land at College campus for
                establishing SEDI Surat, Gujarat
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo19.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>KRISHNASHRYA
                GURUKOOL
              FOUNDATION </h4>
              <p>Established SEDI at Jatipur,
                Mathura (UP) for skill training of
              youth</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo20.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>NABARD</h4>
              <p>35 projects across locations on
                FPO, WADI, Watershed, SHGs,
              Skilling</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo21.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>NAROTAM SEKHSARIA
              FOUNDATION</h4>
              <p>Integrated Community
                development programmes and
                SEDI at Chirawa (Rajasthan)
                and Research Study of Tobacco
                Cessation Programme focusing on
              expecting mothers</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo22.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>NATIONAL SCHEDULE
                CASTES FINANCE
                & DEVELOPMENT
              CORPORATION</h4>
              <p>Skill training for Scheduled caste
              youth across all SEDIs</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo23.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>NATIONAL SKILL
                DEVELOPMENT
              CORPORATION (NSDC)</h4>
              <p>ACF has a non-financial
                partnership with NSDC for
                certification of skilled youth
              across SEDIs</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo24.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>PEROND RICARD INDIA
                FOUNDATION
              </h4>
              <p>Supporting Quality Healthcare
                and Road Safety for truck drivers
              in Derabassi (Punjab)</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo25.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>SADVICHAR PARIVAR </h4>
              <p>Support land and infrastructure
                for establishing a SEDI at
              Uvarsad, Gandhinagar (Gujarat)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo26.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>SCHNEIDER ELECTRIC
                INDIA FOUNDATION
              </h4>
              <p>Supporting the set-up of training
                infrastructure for electrical
              course at SEDI</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ind_partLogo">
            <img src="assets/images/part-logo27.png" class="img-responsive" alt="">
            <div class="logoDetails">
              <h4>SIR MATHURADAS
                VISSANJI EDUCATION
              TRUST </h4>
              <p>Increasing girls’ participation in
                machine operation and future
                skills in Chandrapur, Ambujanagar
              and Roorkee</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="fullImg">
    <img src="assets/images/part-img1.jpg" class="img-responsive" alt="">
  </div>
  <section class="letsPartners">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
         <div class="allHeads blackTxt">
           <h3>LET’S PARTNER & CO-CREATE</h3>
           <p>Join our list of trusted partners and together, lets co-create a project to tackle poverty in rural
            India, today! By putting our heads together, we can achieve tremendous impact and take rural
          communities on a journey, from poverty to prosperity.</p>
          <a href="#">EXPRESSIONS OF INTEREST <span><img src="assets/images/arrow-black.png" alt="Our approach"></span></a>
        </div>
      </div>
    </div>
  </div>
  </section>
</div>