<div class="csrPage">



    <section class="topInsideBanner pos-rel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="wow fadeInUp"><span>CSR IMPLEMENTATION</span>
                        LET US HELP YOU
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="weHave textCenter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads">
                        <h3>WE HAVE EVOLVED...</h3>
                    </div>
                    <p>Yes, we started out as a corporate foundation. We began working at the grassroots around our
                        plants and factories, to ensure that as we prospered, so did the communities around us. And we
                        succeeded. But over the last 3 decades we have realised that the need of rural India is so vast.
                        So, today we are a CSR implementation agency – helping other corporates realise their corporate
                        social responsibility in rural India.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="chooseAcf">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads blackTxt">
                        <h3>WHY CHOOSE ACF TO
                            <span>IMPLEMENT YOUR CSR?</span>
                        </h3>
                    </div>
                    <p>Working hand in hand with partners, we use our expertise and learnings
                        on the ground in rural communities to achieve lasting change. Here’s why it
                        makes sense to partner with ACF for your CSR implementation:
                    </p>
                    <img src="assets/images/implement-your-csr-img.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="macroImpact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads whiteTxt">
                        <h3>MACRO IMPACT</h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>11556</p>
                    </div>
                    <h4>PARTNERS</h4>
                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>13.20
                            CRORES</p>
                    </div>
                    <h4>INVESTED BY
                        PARTNERS</h4>
                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>56</p>
                    </div>
                    <h4>PROJECTS IN
                        PARTNERSHIP
                    </h4>
                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>7</p>
                    </div>
                    <h4>INTERNATIONAL
                        PARTNERS
                    </h4>
                </div>
                <!--  -->
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>19</p>
                    </div>
                    <h4>CSR PARTNERS</h4>
                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>11</p>
                    </div>
                    <h4>GOVERNMENT
                        PARTNERSHIPS</h4>
                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>100%</p>
                    </div>
                    <h4>COMMUNITY
                        PARTNERSHIP</h4>
                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>XX</p>
                    </div>
                    <h4>XXXX <br>
                        XXXXXXXXX
                    </h4>
                </div>
            </div>
        </div>
    </section>

    <section class="implementingCsr">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads blackTxt">
                        <h3>IMPLEMENTING CSR FOR GIANTS</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="implementationSlider owl-carousel owl-theme">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/hdfc-img.png" class="img-responsive" alt="">
                                </div>
                                <div class="col-md-6">
                                    <div class="implementIn">
                                        <h4>HDFC Bank </h4>
                                        <p>In 2018, ACF joined hands with banking giant HDFC Bank (along with the
                                            Government and community) as a CSR Implementation partner to address a
                                            variety of community issues in Roorkee and Sikar. Sharing a similar vision
                                            to generate sustainable livelihoods in rural India, HDFC Bank Parivartan
                                            invested in the project while ACF drove the implementation and monitoring.
                                            So successful has the project been, that HDFC has expanded the partnership
                                            and today projects are active in 14 locations. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/csr-for-giants-img.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <div class="implementIn">
                                        <h4>APOLLO TYRES</h4>
                                        <p>Ambuja Cement Foundation (ACF) is a CSR Implementation partner for Apollo
                                            Tyres, helping truckers tackle HIV by establishing Health Care Centres at
                                            bustle Truck Terminals across 4 locations, impacting over 82,000 Truckers.
                                            So successful has the initiative been that Government support has also been
                                            obtained under a Public Private Partnership model (PPP). </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/assian-paints.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <div class="implementIn">
                                        <h4>ASIAN PAINTS</h4>
                                        <p>Asian Paints approached ACF to help implement it’s CSR in Vishakapatnum,
                                            enhancing the livelihood of 4.2 lakh individuals in nine villages through
                                            water and health initiatives.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/hzl-img.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <div class="implementIn">
                                        <h4>HINDUSTAN ZINC LTD</h4>
                                        <p>ACF is a CSR implementation partner of Hindustan Zinc Ltd, having set up 4
                                            Skill & Entrepreneurship Development Institutes in the state of Rajasthan,
                                            and training over 3655 youth for livelihoods.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/images/indusInd-bank-img.png" alt="">
                                </div>
                                <div class="col-md-6">
                                    <div class="implementIn">
                                        <h4>IndusInd Bank </h4>
                                        <p>In 2018, IndusInd Bank approached ACF to implement its CSR in a rural
                                            livelihood and water resource management program, to address issues of water
                                            scarcity and economic poverty in 30 villages of Jaitaran block of Pali
                                            district in Western Rajasthan. productivity to name a few. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>