<div class="careersPage">



    <section class="topInsideBanner pos-rel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="wow fadeInUp"><span>CAREERS</span>
                        WE ARE LOOKING FOR LIKE-MINDED PEOPLE
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="theSprit">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="wow fadeInUp">The spirit of <img src="assets/images/i-can-img.png" alt=""></h3>
                    <h4 class="wow fadeInUp">“Give a person orders and they will do the task reasonably well. But let
                        them set their own targets, give them freedom and authority,and their task becomes a personal
                        mission.”
                    </h4>
                    <p class="wow fadeInUp">The I CAN spirit is an integral philosophy at Ambuja Cement Foundation that
                        empowers
                        every team member to contribute to the best of his/her potential, to achieve the goals
                        we strive for. There is great power in this spirit, which fosters and promotes personal
                        initiative, passion and accountability. The commitment and loyalty of our staff are a tribute
                        its strength.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="vacanciesSec">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3 class="wow fadeInUp">VACANCIES</h3>
                    <p class="wow fadeInUp">Do you want to feel more fulfilled in your career?<br>
                        Are you looking for a place where you can spread your wings and fly?<br>
                        Ambuja Cement Foundation has numerous, exciting opportunities for<br>
                        passionate people just like you. Apply for your dream job now at
                        <a href="mailto:ceo.acf@ambujacement.com">ceo.acf@ambujacement.com</a>
                    </p>
                </div>

                <div class="popupBox popup_1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="leftPop">
                                <a href="javascript:void(0)" class="close_popup">
                                    <img src="assets/images/cross.png" alt="">
                                </a>
                                <h5>Digital Communications Executive</h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="rightPop">
                                <ul>
                                    <li>Education Qualification: <span>Graduate in Mass Media/PGDM in Digital
                                            Marketing</span></li>
                                    <li>Experience: <span>Minimum 2 years’ experience in Digital Marketing</span></li>
                                    <li>Location: <span>Mumbai</span></li>
                                    <li>Employment Type: <span>Fixed Term</span></li>
                                    <li>Salary Range: <span>Rs. 18,000-20,000</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popupBox popup_2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="leftPop">
                                <a href="javascript:void(0)" class="close_popup">
                                    <img src="assets/images/cross.png" alt="">
                                </a>
                                <h5>Trainer Electrician- SEDI</h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="rightPop">
                                <ul>
                                    <li>Education Qualification: <span>ITI, Diploma, B.Tech in Electrical
                                            Engineering</span></li>
                                    <li>Experience: <span>Minimum 3 years experience in Training, Freshers can also
                                            apply</span></li>
                                    <li>Location: <span>Upparwahi (Maharashtra)</span></li>
                                    <li>Employment Type: <span>Fixed Term Contract</span></li>
                                    <li>Salary: <span>Rs. 18,000-21,000</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popupBox popup_3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="leftPop">
                                <a href="javascript:void(0)" class="close_popup">
                                    <img src="assets/images/cross.png" alt="">
                                </a>
                                <h5>GDA Trainer – SEDI</h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="rightPop">
                                <ul>
                                    <li>Education Qualification: <span>B.Sc, GNM Nursing</span></li>
                                    <li>Experience: <span>B.Sc with minimum 1-2 years experience in Training, GNM with
                                            minimum 3 years experience</span></li>
                                    <li>Location: <span>Dadri (Uttar Pradesh)</span></li>
                                    <li>Employment Type: <span>Fixed Term Contract</span></li>
                                    <li>Salary: <span>Rs. 20,000-25,000</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popupBox popup_4">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="leftPop">
                                <a href="javascript:void(0)" class="close_popup">
                                    <img src="assets/images/cross.png" alt="">
                                </a>
                                <h5>Fitter Fabrication Trainer - SEDI</h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="rightPop">
                                <ul>
                                    <li>Education Qualification: <span>Diploma, ITI</span></li>
                                    <li>Experience: <span>Minimum 1-2 years’ experience in Training, Freshers can also
                                            apply</span></li>
                                    <li>Location: <span>Bhagwanpur (Uttarakhand)</span></li>
                                    <li>Employment Type: <span>Fixed Term Contract</span></li>
                                    <li>Salary: <span>Rs. 18,000-20,000</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popupBox popup_5">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="leftPop">
                                <a href="javascript:void(0)" class="close_popup">
                                    <img src="assets/images/cross.png" alt="">
                                </a>
                                <h5>Sales and Marketing Trainer - SEDI </h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="rightPop">
                                <ul>
                                    <li>Education Qualification: <span>MBA (Sales & Marketing, Sales, Marketing)</span>
                                    </li>
                                    <li>Experience: <span>Minimum 2 years’ experience in trainings</span></li>
                                    <li>Location: <span>Mathura</span></li>
                                    <li>Employment Type: <span>Fixed Term Contract</span></li>
                                    <li>Salary: <span>Rs. 20,000 - Rs. 25,000</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popupBox popup_6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="leftPop">
                                <a href="javascript:void(0)" class="close_popup">
                                    <img src="assets/images/cross.png" alt="">
                                </a>
                                <h5>Placement Officer</h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="rightPop">
                                <ul>
                                    <li>Education Qualification: <span>MBA in
                                            HR/Marketing</span></li>
                                    <li>Experience: <span>Minimum 2 years’ experience as placement officer or similar
                                            role, Freshers are also welcome</span></li>
                                    <li>Location: <span>Bhagwanpur</span></li>
                                    <li>Employment Type: <span>Fixed Term Contract</span></li>
                                    <li>Salary: <span>Rs. 20,000-25,000</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="vacancySlider owl-carousel owl-theme">
                        <div class="item">
                            <div class="vacancySliderIn">
                                <a href="javascript:void(0)" id="popup_show_1">
                                    <img src="assets/images/arrow-er.png" alt="">
                                </a>
                                <p class="wow fadeInUp">Digital Communications Executive</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vacancySliderIn">
                                <a href="javascript:void(0)" id="popup_show_2">
                                    <img src="assets/images/arrow-er.png" alt="">
                                </a>
                                <p class="wow fadeInUp">Trainer Electrician- SEDI</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vacancySliderIn">
                                <a href="javascript:void(0)" id="popup_show_3">
                                    <img src="assets/images/arrow-er.png" alt="">
                                </a>
                                <p class="wow fadeInUp">GDA Trainer – SEDI</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vacancySliderIn">
                                <a href="javascript:void(0)" id="popup_show_4">
                                    <img src="assets/images/arrow-er.png" alt="">
                                </a>
                                <p class="wow fadeInUp">Fitter Fabrication Trainer - SEDI</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vacancySliderIn">
                                <a href="javascript:void(0)" id="popup_show_5">
                                    <img src="assets/images/arrow-er.png" alt="">
                                </a>
                                <p class="wow fadeInUp">Sales and Marketing Trainer - SEDI</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="vacancySliderIn">
                                <a href="javascript:void(0)" id="popup_show_6">
                                    <img src="assets/images/arrow-er.png" alt="">
                                </a>
                                <p class="wow fadeInUp">Placement Officer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>

    <section class="greatPlace">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="wow fadeInUp">GREAT PLACE TO WORK</h3>
                    <p class="wow fadeInUp">Ambuja Cement Foundation is certified as a Great Place to Work in the ‘Non-
                        Profits & Charity Organization’ category. ACF ranks high in
                        having ‘High-Trust’ and a ‘High-Performance Culture’ according to the
                        certification survey based on feedback received from employees.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="staffTestimonials">
        <div>
            <div>
                <div class="col-md-12">
                    <h3 class="wow fadeInUp">STAFF TESTIMONIALS</h3>
                </div>
                <div class="sliderFull">
                    <div class="clientTestimonial owl-carousel owl-theme">
                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/ravi-img.png" alt="">
                                </div>
                                <div class="feedbackRight">
                                    <p class="wow fadeInUp">“ACF is very open to supporting staff to
                                        experiment with different interventions. We are
                                        never afraid of failures - We try, we fail, we get
                                        up and we try again. Management has patience to
                                        allow us this and that’s how we have managed to
                                        get results.”
                                    </p>
                                    <div class="namePos">
                                        <p class="wow fadeInUp">Ravi Nayse<span>General Manager<br>
                                                Skill Training </span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/Bhupender-Gandhi.png" alt="">
                                </div>
                                <div class="feedbackRight">
                                    <p class="wow fadeInUp">I have been associated with ACF for the last 20 years and it
                                        gives me the privileged to lead various sustainable development programs. I
                                        personally witnessed horizontal and vertical growth in the organization.</p>
                                    <div class="namePos">
                                        <p class="wow fadeInUp">Bhupender Gandhi<span>Programme Manager, Darlaghat,
                                                Himachal Pradesh</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/vijendra-Image.png" alt="">
                                </div>
                                <div class="feedbackRight">
                                    <p class="wow fadeInUp">“This is not just an organization but a family where I can
                                        share my weaknesses, capitalise on opportunities and utilize the best of my
                                        knowledge.”</p>
                                    <div class="namePos">
                                        <p class="wow fadeInUp">Vijender Singh Chauhan<span>Accounts officer, Marwa
                                                Mundwa, Rajasthan</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/Sanjay-Sharma.png" alt="">
                                </div>
                                <div class="feedbackRight">
                                    <p class="wow fadeInUp">“From the beginning I have got a lot of opportunities to
                                        work on different portfolios. I have enjoyed my journey with ACF and it gives me
                                        a lot of satisfaction working with the communities.”</p>
                                    <div class="namePos">
                                        <p class="wow fadeInUp">Sanjay Sharma<span>Area Program Manager, Himachal
                                                Pradesh</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/Chinmay-Jain.png" alt="">
                                </div>
                                <div class="feedbackRight">
                                    <p class="wow fadeInUp">“ACF is an organization which recognizes the potential and
                                        gives opportunities to cultivate an individual’s attitude. Due to this I have
                                        built a winning career.”</p>
                                    <div class="namePos">
                                        <p class="wow fadeInUp">Chinmay Jain<span>SEDI Cluster Coordinator,
                                                Rajasthan</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/Minakshi.png" alt="">
                                </div>
                                <div class="feedbackRight">
                                    <p class="wow fadeInUp">“I got the freedom to explore new things at ACF which has
                                        really built my confidence. I am a different person today, to the person I was
                                        when I first started.”</p>
                                    <div class="namePos">
                                        <p class="wow fadeInUp">Minakshi Wanode<span>Programme Executive SEDI</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/Saroj-Ambade.png" alt="">
                                </div>
                                <div class="feedbackRight">
                                    <p class="wow fadeInUp">“I have worked in diverse areas - Health, Education and
                                        Documentation - dealing constructively and effectively with all the team
                                        members. It has added value in my professional life and polished my skills to
                                        take on new challenges and opportunities.</p>
                                    <div class="namePos">
                                        <p class="wow fadeInUp">Saroj Ambagade<span>Project Coordinator, Chandrapur,
                                                Maharashtra</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="lifeAtAcf">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="wow fadeInUp">LIFE @ ACF</h3>
                </div>

                <div class="lifeInAcf">
                    <div class="col-md-6">
                        <div class="lifeBoxIn bg_1">
                            <h4 class="wow fadeInUp">Joy</h4>
                            <div class="hoverData">
                                <p>There is <span>joy</span> to be found every
                                    day in seeing the dramatic Impact
                                    our work makes on the lives of
                                    grassroots people. There is a real
                                    sense of satisfaction among the
                                    team.</p>
                            </div>
                        </div>
                        <div class="hoverData mobileView">
                            <p>There is <span>joy</span> to be found every
                                day in seeing the dramatic Impact
                                our work makes on the lives of
                                grassroots people. There is a real
                                sense of satisfaction among the
                                team.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lifeBoxIn bg_2">
                            <h4 class="wow fadeInUp">OPPORTUNITIES</h4>
                            <div class="hoverData">
                                <p>Staff at ACF have many
                                    <span>opportunities</span> for growth -
                                    exposure to diverse projects and
                                    innovation - with many team
                                    members climbing the ladder
                                    quickly as a result of hard work
                                    and passion.
                                </p>
                            </div>
                        </div>
                        <div class="hoverData mobileView">
                            <p>Staff at ACF have many
                                <span>opportunities</span> for growth -
                                exposure to diverse projects and
                                innovation - with many team
                                members climbing the ladder
                                quickly as a result of hard work
                                and passion.
                            </p>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-md-6">
                        <div class="lifeBoxIn bg_3">
                            <h4 class="wow fadeInUp">IMPACT</h4>
                            <div class="hoverData">
                                <p>Field work is part and parcel of life at ACF.
                                    We go into the field early morning and
                                    sometimes come home late at night - but
                                    the <span>impact</span> we see on ground makes it all
                                    worth it!</p>
                            </div>
                        </div>
                        <div class="hoverData mobileView">
                            <p>Field work is part and parcel of life at ACF.
                                We go into the field early morning and
                                sometimes come home late at night - but
                                the <span>impact</span> we see on ground makes it all
                                worth it!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lifeBoxIn bg_4">
                            <h4 class="wow fadeInUp">COMMITMENT</h4>
                            <div class="hoverData">
                                <p>ACF staff show real
                                    <span>commitment</span>, dedication
                                    and hard work in connecting
                                    with the community which
                                    enriches everything we do.
                                </p>
                            </div>
                        </div>
                        <div class="hoverData mobileView">
                            <p>ACF staff show real
                                <span>commitment</span>, dedication
                                and hard work in connecting
                                with the community which
                                enriches everything we do.
                            </p>
                        </div>
                    </div>
                    <!--  -->
                    <div class="col-md-6">
                        <div class="lifeBoxIn bg_5">
                            <h4 class="wow fadeInUp">CAMARADERIE</h4>
                            <div class="hoverData">
                                <p>There is a genuine <span>camaraderie</span>
                                    among the ACF team which unites
                                    to support each other in difficult
                                    times, and celebrate during the
                                    good times.</p>
                            </div>
                        </div>
                        <div class="hoverData mobileView">
                            <p>There is a genuine <span>camaraderie</span>
                                among the ACF team which unites
                                to support each other in difficult
                                times, and celebrate during the
                                good times.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lifeBoxIn bg_6">
                            <h4 class="wow fadeInUp">LEARNING <span>ENVIRONMENT</span>
                            </h4>
                            <div class="hoverData">
                                <p>At ACF, any setting provides
                                    a classroom! We are always
                                    <span>learning</span> and every day teaches
                                    us a new lesson – both formally
                                    and informally.
                                </p>
                            </div>
                        </div>
                        <div class="hoverData mobileView">
                            <p>At ACF, any setting provides
                                a classroom! We are always
                                <span>learning</span> and every day teaches
                                us a new lesson – both formally
                                and informally.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>