<section class="itsAll">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="itsAllIn">
                    <h3 class="wow fadeInUp">IT ALL BEGINS WITH LIVELIHOODS</h3>
                    <p class="wow fadeInUp">A strong livelihood can quickly catapult a family from <span>a life of
                            poverty, to prosperity. Ambuja Cement Foundation supports rural families from every angle,
                            to give them the best possible chance of prosperity – ensuring that poor health, outdated
                            farming skills, or limited access to water don’t get in the way of a family earning a
                            livelihood.</span></p>
                    <a href="#">Our approach <span><img src="assets/images/arrow-black.png"
                                alt="Our approach"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>