<div class="awardsRecognitionPage">



    <section class="topInsideBanner pos-rel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="wow fadeInUp"><span>AWARDS & RECOGNITION</span>
                        WE ARE PROUD OF OUR WORK ... <br>
                        AND PROUD THAT OTHERS HAVE<br>
                        RECOGNISED IT TOO!
                    </h1>
                </div>
            </div>
        </div>
    </section>


    <section class="awardsReco">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3 class="wow fadeInUp">AWARDS & RECOGNITION</h3>
                    <p class="wow fadeInUp">It’s been a long journey, and we’ve worked hard along the way. It is
                        rewarding to know that our work is appreciated by others and that they too, can see the impact
                        we’ve been able to make on the ground!</p>
                </div>
                <div class="brderBox">
                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2020</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">ICC Social
                                    Impact Award <span>Empowering Rural
                                        Community - Sankaril</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2019</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">India Edition Mahatma Awards</li>
                                <li class="wow fadeInUp">2019 3rd
                                    Rajasthan CSR
                                    Award</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2018</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">ICSI CSR
                                    Excellence
                                    Award</li>
                                <li class="wow fadeInUp">GCSRA Award<span>CSR Partnership</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="brderBox">

                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2017</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">CII-ITC
                                    Sustainability
                                    Award - <span>Bhatapara,
                                        Chandrapur</span></li>
                                <li class="wow fadeInUp">ET 2 Good 4 Good</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2016</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">Rashtrapita
                                    Mahatma Gandhi
                                    Vyasan Mukti
                                    Seva Puraskar -<span>Chandrapur</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2015</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">Bombay Chamber
                                    Civic Award</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="brderBox">

                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2012</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">CII-ITC
                                    Sustainability
                                    Award - <span>Chandrapur</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2011</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">India Shining
                                    Star CSR Award</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2010</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">Social &
                                    Corporate Award<span>Empowering Rural
                                        Bombay Stock Exchange</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="brderBox">

                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2004</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">Asian CSR Award<span>Asian Institute of
                                        Management</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="awardsBox">
                            <div class="awardsBgBoxes pos-rel">
                                <img src="assets/images/award-img.png" class="img-responsive" alt="">
                                <p class="wow fadeInUp">2003</p>
                            </div>
                            <ul>
                                <li class="wow fadeInUp">FICCI CSR Award</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="full-imgs">
        <img src="assets/images/awards-centr.jpg" class="img-responsive" alt="">
    </div>

    <section class="programsAwards">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="wow fadeInUp">PROGRAM AWARDS</h3>
                </div>
                <div class="col-md-12">
                    <div class="awardsTabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#awards-1">WATER</a></li>
                            <li class="wow fadeInUp"><a data-toggle="tab" href="#awards-2">AGRICULTURE</a></li>
                            <li class="wow fadeInUp"><a data-toggle="tab" href="#awards-3">WOMEN</a></li>
                            <li class="wow fadeInUp"><a data-toggle="tab" href="#awards-4">HEALTH</a></li>
                            <li class="wow fadeInUp"><a data-toggle="tab" href="#awards-5">SKILL</a></li>
                            <li class="wow fadeInUp"><a data-toggle="tab" href="#awards-6">EDUCATION</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="awards-1" class="tab-pane fade in active">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/water-img2.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">2021</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">Rotary CSR Award - <span>Water Sanitation
                                                            and Hygiene</span></li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2020</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">ICC Social Impact Award - <span>Clean Water
                                                            & Sanitation</span></li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2019</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">National Water Mission Awards</li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2017</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">CII 11th National Award - <span> Excellence
                                                            in Water
                                                            Management</span></li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2016</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">FICCI CSR AWARD</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-2" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/water-img2.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">2019</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">CSR Journal Excellence Award</li>
                                                    <li class="wow fadeInUp">ICAR Best Non-Profit - <span>Cotton
                                                            Sector</span></li>
                                                    <li class="wow fadeInUp">FPO Impact Award - <span>Somnath FPO</span>
                                                    </li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2014</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">PARTNERSHIP EXCELLENCE AWARD - <span>
                                                            Improving productivity in crops</span></li>
                                                </ul>

                                                <h4 class="wow fadeInUp">2013</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">Best NGO Award by Northern India
                                                        Cotton Association Ltd.</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-3" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/water-img2.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">2021</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">ICC Social Impact Award - Gender
                                                        Equality - <span>Sankrail</span></li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2020</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">ICC Social Impact Award - Gender
                                                        Equality - <span>Bhatapara</span></li>
                                                    <li class="wow fadeInUp">CSR Health Impact Award by IHWC</li>
                                                </ul>

                                                <h4 class="wow fadeInUp">2018</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">Sandvik Gender Award - <span>Kodinar
                                                            Women’s Federation</span></li>
                                                    <li class="wow fadeInUp">CSR Excellence Award <span>by Government
                                                            of Rajasthan</span></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-4" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/water-img2.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">2021</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">ICC Social Impact Award -
                                                        <span>Farakka</span></li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2020</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">ICC Social Impact Award - <span>Maternal
                                                            Health - Farakka</span></li>
                                                </ul>

                                                <h4 class="wow fadeInUp">2016</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">Best Continued Support <span>by Punjab
                                                            State
                                                            AIDS Control Society</span></li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2015</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">Best Performing Targeted
                                                        Intervention <span>by Punjab State AIDS Control
                                                            Society</span> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-5" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/water-img2.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">2019</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">ICC Social Impact Award</li>
                                                    <li class="wow fadeInUp">3<sup>rd</sup> Rajasthan CSR Award -
                                                        <span>Government
                                                            of Rajasthan</span></li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2015</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">Assocham Award <span>on Skilling
                                                            India</span></li>
                                                </ul>

                                                <h4 class="wow fadeInUp">2014-15</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">Skill India Award - <span>Assocham</span>
                                                    </li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2013</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">Quality Skill Training to
                                                        Unemployed Youth - <span>Awarded by Ministry of Rural
                                                            Development, Government of India</span></li>
                                                    <li class="wow fadeInUp">Certificate of Excellence <span>(3rd Best
                                                            Skill Training Centre in the Country) - Awarded by
                                                            Ministry of Rural Development, Government of
                                                            India</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-6" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/water-img2.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">2019</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">Punjab State Level Cultural
                                                        Competition - <span>AMK</span></li>
                                                    <li class="wow fadeInUp">21<sup>st</sup> Punjab State Olympic Award
                                                        -
                                                        AMK</li>
                                                </ul>
                                                <h4 class="wow fadeInUp">2017</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">SPECIAL OLYMPICS WORLD WINTER
                                                        GAMES</li>
                                                </ul>

                                                <h4 class="wow fadeInUp">2016</h4>
                                                <ul>
                                                    <li class="wow fadeInUp">Derozio Award - <span>Education & Human
                                                            Enrichment</span></li>
                                                    <li class="wow fadeInUp">Punjab State Special Olympics</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="beneficiaryAwards">
        <h3 class="wow fadeInUp">BENEFICIARY AWARDS</h3>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="beneficiarySlider owl-carousel owl-theme">
                        <div class="item">
                            <div class="benefitsBoxs">
                                <div class="col-md-5">
                                    <img src="assets/images/beneficiary-awards-img.png" class="img-responsive" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="beneC">
                                        <h4 class="wow fadeInUp">2020</h4>
                                        <ul>
                                            <li class="wow fadeInUp">Priya Devi
                                                <span>Best Sportsperson with Disability</span>
                                            </li>

                                            <li class="wow fadeInUp">Rupnagar FPO <span>
                                                    Best FPO, NABARD</span></li>

                                            <li class="wow fadeInUp">Chaya Mondal
                                                <span>Best Entrepreneur Award in District, NABARD, Punjab</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="benefitsBoxs">
                                <div class="col-md-5">
                                    <img src="assets/images/himangshu-mandal.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="col-md-7">
                                    <div class="beneC">
                                        <h4 class="wow fadeInUp">2019</h4>
                                        <ul>
                                            <li class="wow fadeInUp">Himangshu Mondal
                                                <span>Krishi Ratna, Farakka</span>
                                            </li>

                                            <li class="wow fadeInUp">Motibhen Chavda
                                                <span>Nari Ratna Award Gujarat</span>
                                            </li>

                                            <li class="wow fadeInUp">Suratun Khatun
                                                <span> Swachh Bahrat Puruskar, Farakka</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>