<div class="footer">
    <div class="container">
      <div class="row">
          <div class="col-md-3">
              <form action="#">
                  <div class="newsLetter">                    
                      <input class="form-control" type="text" placeholder="Enter your email" name="mail" required>
                      <button type="submit">Subscribe to our Newsletter</button>
                  </div>
              </form> 
              <div class="addressTxt">
                  <h4>Ambuja Cement Foundation</h4>
                  <p>Elegant Business Park, MIDC Cross Road 'B' Off Andheri-Kurla Road, Andheri (E) Mumbai 400059</p>
              </div>
              <div class="contactTxt">
                  <p><b>Tel:</b> 022-40667520</p>
                  <p><b>Email:</b> ceo.acf@adani.com</p>
                  <p><b>CIN:</b> U91990MH1993NPL264710</p>
              </div>
               <div class="socialMedia">
                          <ul class="list-unstyled list-inline">
                              <li><a href="" target="_blank"><img src="assets/images/fb-icon.png" alt=""> </a></li>
                              <li><a href="" target="_blank"><img src="assets/images/yt-icon.png" alt=""> </a></li>
                              <li><a href="" target="_blank"><img src="assets/images/linkdin-icon.png" alt=""> </a></li>
                              <li><a href="" target="_blank"><img src="assets/images/t-icon.png" alt=""> </a></li>
                              <li><a href="" target="_blank"><img src="assets/images/e-icon.png" alt=""> </a></li>
                          </ul>   
                      </div>
          </div>
          <div class="col-md-9">
              <div class="row">
                  <div class="col-md-3 col-xs-6">
                      <div class="quicklinks">
                          <h4>About</h4>
                          <ul>
                              <li><a href="">About ACF</a></li>
                              <li><a href="">Our people</a></li>
                              <li><a href="">Careers</a></li>
                              <li><a href="">Awards & Recognition</a></li>
                              <li><a href="">Reports</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <div class="quicklinks">
                          <h4>PROGRAMS</h4>
                          <ul>
                              <li><a href="">Problem & Solution</a></li>
                              <li><a href="">Health</a></li>
                              <li><a href="">Water</a></li>
                              <li><a href="">Women</a></li>
                              <li><a href="">Agriculture</a></li>
                              <li><a href="">Education</a></li>
                              <li><a href="">Skills</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <div class="quicklinks">
                          <h4>OUR PRESENCE</h4>
                          <ul>
                              <li><a href="">Andhra Pradesh</a></li>
                              <li><a href="">Chhattisgarh</a></li>
                              <li><a href="">Gujarat</a></li>
                              <li><a href="">Himachal</a></li>
                              <li><a href="">Pradesh</a></li>
                              <li><a href="">Madhya Pradesh</a></li>
                              <li><a href="">Maharashtra</a></li>
                              <li><a href="">Punjab</a></li>
                              <li><a href="">Rajasthan</a></li>
                              <li><a href="">Uttarakand</a></li>
                              <li><a href="">Uttar Pradesh</a></li>
                              <li><a href="">West Bengal</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <div class="quicklinks">
                          <h4>IMPACT</h4>
                          <ul>
                              <li><a href="">Our Impact</a></li>
                              <li><a href="">The Unstoppable</a></li>
                          </ul>
                      </div>
                      <div class="quicklinks headsGaps">
                          <h4>PARTNERS</h4>
                          <ul>
                              <li><a href="">Partnership</a></li>
                              <li><a href="">Our Partners</a></li>
                              <li><a href="">CSR Implementing
                                  Agency
                              </a></li>
                          </ul>
                      </div>
                      <div class="quicklinks headsGaps">
                          <h4>MEDIA</h4>                        
                      </div>
                      <div class="quicklinks">
                          <h4>CONTACT US</h4>                      
                      </div>
                  </div>
                  
              </div>
          </div>
          
      </div>
  </div>
  </div>