<div class="waterDrinkingPage">

    
  
    <section class="topInsideBanner pos-rel">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="wow fadeInUp"><span>WATER</span>
              DRINKING WATER SECURITY
            </h1>
          </div>
        </div>
      </div>
    </section>
  
    <section class="drinkingWater">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
           <div class="allHeads">
             <h3>DRINKING WATER SECURITY</h3>
           </div>
           <div class="italicTxt">
            <p>We work with families and communities to ensure clean drinking 
              water availability for daily household consumption.
            </p>
          </div>
        </div>
        <div class="cirlceDrinks pos-rel">
          <div class="col-md-4">
            <div class="drinkCurve">
              <img src="assets/images/water-icon1a.png" alt="">
              <h4>FRESH WATER
              AVAILABILITY</h4>
              <p>We ensure year-round
                availability of water
                at a household level
                by promoting Rooftop
                Rainwater Harvesting
              Systems in communities.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="drinkCurve">
              <img src="assets/images/water-icon2a.png" alt="">
              <h4>DRINKING WATER
                SOURCES REVIVAL 
              </h4>
              <p>We revive hand pumps,
                tube wells and village
                ponds which provide
                reliable water sources for
              communities.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="drinkCurve">
              <img src="assets/images/water-icon3a.png" alt="">
              <h4>DRINKING WATER
              DISTRIBUTION </h4>
              <p>We distribute water
                throughout villages via
                Solar Pumps, Overhead
                Tanks and pipelines,
                bringing water to within
              200m of each household.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="drinkCurve">
              <img src="assets/images/water-icon4a.png" alt="">
              <h4>SAFE WATER
              ACCESS </h4>
              <p>We ensure water is safe for
                consumption by conducting
                water quality monitoring,
                installing filtration plants,
                and identifying new
              sources of water.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="drinkCurve">
              <img src="assets/images/water-icon5a.png" alt="">
              <h4>WATER FOR
                SCHOOLS 
  
              </h4>
              <p>We ensure schools have
                water via rooftop rainwater
                harvesting and hand
              pumps.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="drinkCurve">
              <img src="assets/images/water-icon6a.png" alt="">
              <h4>SOURCE
              SUSTAINABILITY </h4>
              <p>We connect drinking water
                sources with the recharge
                system, and conduct spring
                shed development to
                ensure the sustainability of
              water sources.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="waterMacro tab_bg_1">
    <div class="container">
      <div class="row">
        <div class="allHeads whiteTxt">
          <h3>MACRO IMPACT</h3>
        </div>
        <div class="impactinsideTab">
  
          <div class="row">
            <div class="col-md-3">
              <div class="txtDats">
                <div class="investData">
  
                  <p>11526
                  </p>
                </div>
                <h4>RRWHS
                INSTALLED</h4>
              </div>
            </div>
            <div class="col-md-3">
              <div class="txtDats">
                <div class="investData">
  
                  <p>12
                    <span>MONTHSt</span></p>
                  </div>
                  <h4>WATER
                  AVAILABILITY</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="txtDats">
                  <div class="investData">
  
                    <p>60% 
                    </p>
                  </div>
                  <h4>REDUCTION
                    IN WOMEN’S
                  DRUDGERY</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="txtDats">
                  <div class="investData">
  
                    <p>50%</p>
                  </div>
                  <h4>DECREASE IN
                    TDS
                  </h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="txtDats">
                  <div class="investData">
  
                    <p>365</p>
                  </div>
                  <h4>WATER
                    DISTRIBUTION
                    SCHEMES
                  INSTALLED</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="txtDats">
                  <div class="investData">
  
                    <p>685</p>
                  </div>
                  <h4>DUGOUT WELLS</h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="txtDats">
                  <div class="investData">
  
                    <p>399</p>
                  </div>
                  <h4>HAND PUMPS
  
                  </h4>
                </div>
              </div>
              <div class="col-md-3">
                <div class="txtDats">
                  <div class="investData">
                    <p>200</p>
                  </div>
                  <h4>VILLAGES
                    CONDUCTING
                    WATER
                    QUALITY
                  TESTING</h4>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="storyMacro">
     
      <div class="allHeads">
        <h3>IMPACT STORIES</h3>
      </div> 
      <div class="sliderFull">
       <div class="clientTestimonial owl-carousel owl-theme">
        <div class="item">
          <div class="feedbackTxt">
            <div class="feedbackLeft">
              <img src="assets/images/gray-box.png" class="img-responsive" alt="">
            </div>
            <div class="feedbackRight">
              <h4>WATER QUALITY TESTING</h4>
              <p class="wow fadeInUp">Whilst India is grappling with a water crisis that
                sees communities struggle to ‘access’ water for
                basic household and livelihood needs, a secondary
                issue lurks in the background that threatens the
                health of villagers across the country. The quality
                of drinking water is a widely emerging issue that
                threatens the country - especially in rural areas
                with a dependence on groundwater as a source
                of drinking water. To tackle the problem, ACF
                has initiated a three-phased program to increase
                awareness of the problem - and has empowered
                13 communities to solve it themselves.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="feedbackTxt">
            <div class="feedbackLeft">
              <img src="assets/images/gray-box.png" class="img-responsive" alt="">
            </div>
            <div class="feedbackRight">
              <h4>WATER QUALITY TESTING</h4>
              <p class="wow fadeInUp">Whilst India is grappling with a water crisis that
                sees communities struggle to ‘access’ water for
                basic household and livelihood needs, a secondary
                issue lurks in the background that threatens the
                health of villagers across the country. The quality
                of drinking water is a widely emerging issue that
                threatens the country - especially in rural areas
                with a dependence on groundwater as a source
                of drinking water. To tackle the problem, ACF
                has initiated a three-phased program to increase
                awareness of the problem - and has empowered
                13 communities to solve it themselves.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="feedbackTxt">
            <div class="feedbackLeft">
              <img src="assets/images/gray-box.png" class="img-responsive" alt="">
            </div>
            <div class="feedbackRight">
              <h4>WATER QUALITY TESTING</h4>
              <p class="wow fadeInUp">Whilst India is grappling with a water crisis that
                sees communities struggle to ‘access’ water for
                basic household and livelihood needs, a secondary
                issue lurks in the background that threatens the
                health of villagers across the country. The quality
                of drinking water is a widely emerging issue that
                threatens the country - especially in rural areas
                with a dependence on groundwater as a source
                of drinking water. To tackle the problem, ACF
                has initiated a three-phased program to increase
                awareness of the problem - and has empowered
                13 communities to solve it themselves.
              </p>
            </div>
          </div>
        </div>
  
      </div>
    </div>  
    
  </section>
  <div class="fullImg">
    <img src="assets/images/water-img2a.png" class="img-responsive" alt="">
  </div>
</div>