<section class="ourPrograms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="programsds">
                    <h3 class="wow fadeInUp">Our Programmes</h3>
                    <p class="wow fadeInUp">We take a 360-degree approach – because it takes more than one intervention
                        to lift a family out of poverty and into prosperity.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ourProgramsIn">
                    <img src="assets/images/water-img.png" alt="" class="img-responsive">
                    <div class="ourProgramsD">
                        <div>
                            <a href="">
                                <img src="assets/images/arrow-white.png" class="whiteAr" alt="">
                                <img src="assets/images/arrow-red.png" class="RedAr" alt="">
                            </a>
                            <h4 class="wow fadeInUp">Water</h4>
                            <p class="wow fadeInUp">We create drought-resilient rural villages
                                and ensure all-year-round water for farmers,
                                families and communities.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ourProgramsIn">
                    <div class="ourProgramsD">
                        <div>
                            <a href="" class="btmDs">
                                <img src="assets/images/arrow-white.png" class="whiteAr" alt="">
                                <img src="assets/images/arrow-red.png" class="RedAr" alt="">
                            </a>
                            <h4 class="wow fadeInUp">Skill</h4>
                            <p class="wow fadeInUp">We provide rural youth with training and
                                employment opportunities that help lift
                                them and their families out of poverty.</p>
                        </div>
                    </div>
                    <img src="assets/images/skill-img.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4">
                <div class="ourProgramsIn">
                    <img src="assets/images/agriculture-img.png" alt="" class="img-responsive">
                    <div class="ourProgramsD">
                        <div>
                            <a href="">
                                <img src="assets/images/arrow-white.png" class="whiteAr" alt="">
                                <img src="assets/images/arrow-red.png" class="RedAr" alt="">
                            </a>
                            <h4 class="wow fadeInUp">AGRICULTURE</h4>
                            <p class="wow fadeInUp">We help farming families prosper, by
                                nurturing farmers and organizing them into
                                groups to enhance their profitability.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ourProgramsIn">
                    <img src="assets/images/women-img.png" alt="" class="img-responsive">
                    <div class="ourProgramsD">
                        <div>
                            <a href="">
                                <img src="assets/images/arrow-white.png" class="whiteAr" alt="">
                                <img src="assets/images/arrow-red.png" class="RedAr" alt="">
                            </a>
                            <h4 class="wow fadeInUp">WOMEN</h4>
                            <p class="wow fadeInUp">We create drought-resilient rural villages
                                and ensure allyear-round water for farmers,
                                families and communities.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ourProgramsIn">

                    <div class="ourProgramsD">
                        <div>
                            <a href="" class="btmDs">
                                <img src="assets/images/arrow-white.png" class="whiteAr" alt="">
                                <img src="assets/images/arrow-red.png" class="RedAr" alt="">
                            </a>
                            <h4 class="wow fadeInUp">HEALTH</h4>
                            <p class="wow fadeInUp">We create drought-resilient rural villages
                                and ensure allyear-round water for farmers,
                                families and communities.</p>
                        </div>
                    </div>
                    <img src="assets/images/health-img.png" alt="" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4">
                <div class="ourProgramsIn">
                    <img src="assets/images/education-img.png" alt="" class="img-responsive">
                    <div class="ourProgramsD">
                        <div>
                            <a href="">
                                <img src="assets/images/arrow-white.png" class="whiteAr" alt="">
                                <img src="assets/images/arrow-red.png" class="RedAr" alt="">
                            </a>
                            <h4 class="wow fadeInUp">EDUCATION</h4>
                            <p class="wow fadeInUp">We create drought-resilient rural villages
                                and ensure allyear-round water for farmers,
                                families and communities.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>