<div class="ImpactPage">



    <section class="topInsideBanner pos-rel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="wow fadeInUp"><span>OUR IMPACT</span>
                        GENERATING RURAL PROSPERITY
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="impactOver">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="allHeads">
                        <h3>IMPACT OVER THE YEARS</h3>
                    </div>
                    <p class="txtc">We are on a mission to take rural Indians on a journey from poverty to
                        prosperity. We’ve been at it for almost 30 years, and so, with the passage
                        of time, we can see dramatic changes - the stories and statistics speak for
                        themselves.</p>
                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>3547
                            <span>VILLAGES</span>
                        </p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>11
                            <span>STATES</span>
                        </p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>RS.150
                            CRORE
                            <span>INVESTED</span>
                        </p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>75
                            <span>PARTNERS</span>
                        </p>
                    </div>

                </div>
                <!--  -->
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>2.21 LAKH
                            <span>FARMERS</span>
                        </p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>34,000
                            <span>WOMEN</span>
                        </p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>86,000
                            <span>YOUTH</span>
                        </p>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="grayBox">
                        <p>150
                            <span>AMK CHILDREN</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="programsImpacts">
        <div>
            <div>
                <div>
                    <div class="allHeads blackTxt">
                        <h3>PROGRAMME IMPACTS</h3>
                    </div>
                </div>
                <div>
                    <div class="impactTab">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#impact_tab_1">WATER
                                </a></li>
                            <li><a data-toggle="tab" href="#impact_tab_2">AGRICULTURE
                                </a></li>
                            <li><a data-toggle="tab" href="#impact_tab_3">WOMEN
                                </a></li>
                            <li><a data-toggle="tab" href="#impact_tab_4">HEALTH
                                </a></li>
                            <li><a data-toggle="tab" href="#impact_tab_5">SKILL
                                </a></li>
                            <li><a data-toggle="tab" href="#impact_tab_6">EDUCATION
                                </a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="impact_tab_1" class="tab-pane fade in active">
                                <div class="impactinsideTab tab_bg_1">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="txtDats">
                                                    <div class="investData">
                                                        <img src="assets/images/water-icon1.png" alt="">
                                                        <p>160+
                                                            Crore</p>
                                                    </div>
                                                    <h4>INVESTED</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="txtDats">
                                                    <div class="investData">
                                                        <img src="assets/images/water-icon2.png" alt="">
                                                        <p>2-12
                                                            METRES</p>
                                                    </div>
                                                    <h4>INCREASE IN
                                                        GROUND WATER
                                                        LEVEL
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="txtDats">
                                                    <div class="investData">
                                                        <img src="assets/images/water-icon3.png" alt="">
                                                        <p>FROM
                                                            1 CROP TO
                                                            3 CROP</p>
                                                    </div>
                                                    <h4>HARVESTED PER
                                                        YEAR</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="txtDats">
                                                    <div class="investData">
                                                        <img src="assets/images/water-icon4.png" alt="">
                                                        <p>6206
                                                            RRWHS</p>
                                                    </div>
                                                    <h4>BUILT FOR
                                                        FAMILIES</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="txtDats">
                                                    <div class="investData">
                                                        <img src="assets/images/water-icon5.png" alt="">
                                                        <p>500-5000
                                                            PPM</p>
                                                    </div>
                                                    <h4>REDUCTION
                                                        IN TDS </h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="txtDats">
                                                    <div class="investData">
                                                        <img src="assets/images/water-icon6.png" alt="">
                                                        <p>70+
                                                            KILOMETRES</p>
                                                    </div>
                                                    <h4>RIVERS & WATER
                                                        BODIES

                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="txtDats">
                                                    <div class="investData">
                                                        <img src="assets/images/water-icon7.png" alt="">
                                                        <p>MIGRATION
                                                            REDUCED</p>
                                                    </div>
                                                    <h4>BY CREATING
                                                        LIVELIHOODS</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="txtDats">
                                                    <div class="investData">
                                                        <img src="assets/images/water-icon8.png" alt="">
                                                        <p>5452
                                                            HECTARE</p>
                                                    </div>
                                                    <h4>UNDER MICRO
                                                        IRRIGATION
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="impact_tab_2" class="tab-pane fade">
                                <div class="impactinsideTab">
                                    <div class="impactinsideTab tab_bg_1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/agrriculture-icon1.png" alt="">
                                                            <p>2,10,000</p>
                                                        </div>
                                                        <h4>farmers</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/agrriculture-icon2.png" alt="">
                                                            <p>37% production increase</p>
                                                        </div>
                                                        <h4>for SRI farmers </h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/agrriculture-icon3.png" alt="">
                                                            <p>1,69,000</p>
                                                        </div>
                                                        <h4>Better Cotton Farmers</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/agrriculture-icon4.png" alt="">
                                                            <p>16</p>
                                                        </div>
                                                        <h4>Farmer Producer Organizations</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/agrriculture-icon5.png" alt="">
                                                            <p>From 1 crop per year to 2</p>
                                                        </div>
                                                        <h4>3 crops per year</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/agrriculture-icon6.png" alt="">
                                                            <p>9241 ha </p>
                                                        </div>
                                                        <h4>under micro-irrigation</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/agrriculture-icon7.png" alt="">
                                                            <p>68 x increase</p>
                                                        </div>
                                                        <h4>outreach to cotton farmers in 11 years</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/agrriculture-icon8.png" alt="">
                                                            <p>5,000+ families </p>
                                                        </div>
                                                        <h4>under goat-based livelihoods </h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="impact_tab_3" class="tab-pane fade">
                                <div class="impactinsideTab">
                                    <div class="impactinsideTab tab_bg_1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/women-icon1.png" alt="">
                                                            <p>2601 Self</p>
                                                        </div>
                                                        <h4>Help Groups</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/women-icon2.png" alt="">
                                                            <p>5</p>
                                                        </div>
                                                        <h4>Women Federations</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/women-icon3.png" alt="">
                                                            <p>40% SEDI trainees</p>
                                                        </div>
                                                        <h4>Are women</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/women-icon4.png" alt="">
                                                            <p>368</p>
                                                        </div>
                                                        <h4>Sakhis</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/women-icon5.png" alt="">
                                                            <p>115</p>
                                                        </div>
                                                        <h4>Pashu Swasthya Sevikas</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/women-icon6.png" alt="">
                                                            <p>1557 women members</p>
                                                        </div>
                                                        <h4>in Farmer Producer Organisation</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/women-icon7.png" alt="">
                                                            <p>9788 Women</p>
                                                        </div>
                                                        <h4>In Income Generation Activities</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/women-icon8.png" alt="">
                                                            <p>31% Women</p>
                                                        </div>
                                                        <h4>In Water User Associations</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="impact_tab_4" class="tab-pane fade">
                                <div class="impactinsideTab">
                                    <div class="impactinsideTab tab_bg_1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/health-icon1.png" alt="">
                                                            <p>368</p>
                                                        </div>
                                                        <h4>Sakhis</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/health-icon2.png" alt="">
                                                            <p>9</p>
                                                        </div>
                                                        <h4>Community clinics</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/health-icon3.png" alt="">
                                                            <p>97%</p>
                                                        </div>
                                                        <h4>Institutional deliveries</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/health-icon4.png" alt="">
                                                            <p>227 Villages</p>
                                                        </div>
                                                        <h4>With 100% toilet coverage</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/health-icon5.png" alt="">
                                                            <p>267</p>
                                                        </div>
                                                        <h4>Tobacco free villages</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/health-icon6.png" alt="">
                                                            <p>167 Villages</p>
                                                        </div>
                                                        <h4>Under the NCD project</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/health-icon7.png" alt="">
                                                            <p>Over 30,544 toilets</p>
                                                        </div>
                                                        <h4>constructed</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/health-icon8.png" alt="">
                                                            <p>51,869</p>
                                                        </div>
                                                        <h4>Truckers reached</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="impact_tab_5" class="tab-pane fade">
                                <div class="impactinsideTab">
                                    <div class="impactinsideTab tab_bg_1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/skill-icon1.png" alt="">
                                                            <p>88,000</p>
                                                        </div>
                                                        <h4>SEDI graduates</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/skill-icon2.png" alt="">
                                                            <p>75%</p>
                                                        </div>
                                                        <h4>Placement Rate</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/skill-icon3.png" alt="">
                                                            <p>10,000 youth</p>
                                                        </div>
                                                        <h4>Trained per year</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/skill-icon4.png" alt="">
                                                            <p>33</p>
                                                        </div>
                                                        <h4>SEDI Centres</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/skill-icon5.png" alt="">
                                                            <p>43</p>
                                                        </div>
                                                        <h4>Accredited courses</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/skill-icon6.png" alt="">
                                                            <p>20,799</p>
                                                        </div>
                                                        <h4>Enterprises started</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/skill-icon7.png" alt="">
                                                            <p>349</p>
                                                        </div>
                                                        <h4>Physically handicapped youth</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/skill-icon8.png" alt="">
                                                            <p>Breaking gender stereotypes</p>
                                                        </div>
                                                        <h4>In various vocations</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="impact_tab_6" class="tab-pane fade">
                                <div class="impactinsideTab">
                                    <div class="impactinsideTab tab_bg_1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/education-icon1.png" alt="">
                                                            <p>15</p>
                                                        </div>
                                                        <h4>ISO Certified Schools </h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/education-icon2.png" alt="">
                                                            <p>12 Schools</p>
                                                        </div>
                                                        <h4>WASH & Sanitation Infrastructure</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/education-icon3.png" alt="">
                                                            <p>2000 Children</p>
                                                        </div>
                                                        <h4>Engaged in Sports</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/education-icon4.png" alt="">
                                                            <p>47 Schools</p>
                                                        </div>
                                                        <h4>Promoting reading habits</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/education-icon5.png" alt="">
                                                            <p>430 Special Children</p>
                                                        </div>
                                                        <h4>Ambuja Manovikas Kendra</h4>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="txtDats">
                                                        <div class="investData">
                                                            <img src="assets/images/education-icon6.png" alt="">
                                                            <p>13</p>
                                                        </div>
                                                        <h4>Special Olympic Medals</h4>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="externalAssets">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads">
                        <h3>EXTERNAL ASSESSMENTS</h3>
                    </div>
                    <p class="txtc2">Don’t just take our word for it. We commission numerous external studies to assess
                        the social impact of our programs on communities, and the results highlight true transformation.
                    </p>
                    <img src="assets/images/external-img.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="howWe">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads blackTxt">
                        <h3>HOW WE MEASURE IMPACT</h3>
                    </div>
                    <p>Our output based monitoring system includes both qualitative and
                        quantitative indicators, and we assess program progress, from output, to
                        outcome, to final impact. The results help guide us in building strategy, course
                        correction and scaling up programs.</p>
                    <img src="assets/images/measure-impact-img.png" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="storyMacro">
        <div>
            <div>
                <div>
                    <div class="allHeads blackTxt">
                        <h3>MACRO IMPACT STORIES</h3>
                    </div>
                    <div class="sliderFull">
                        <div class="clientTestimonial owl-carousel owl-theme">
                            <div class="item">
                                <div class="feedbackTxt">
                                    <div class="feedbackLeft">
                                        <img src="assets/images/macro-impact-stories-img.png" alt="">
                                    </div>
                                    <div class="feedbackRight">
                                        <h4>TACKLING SALINITY <span>KODINAR, GUJARAT</span></h4>
                                        <p class="wow fadeInUp">If you make a trip to Kodinar, in coastal Gujarat,
                                            you’ll find a vibrant region with its many rural communities and vast
                                            agricultural sector, flourishing. But less than 30 years ago, the area was
                                            crippled by salinity. With groundwater being drawn out at alarming rates,
                                            salt water from the sea had seeped inland, rendering wells and handpumps
                                            useless as water was just too salty to be deemed potable.</p>
                                        <p class="wow fadeInUp">So how then, did the region turn this situation around?
                                            It took multiple approaches and the hard work of a lot of people. But the
                                            driving force behind this transformative change, was Ambuja Cement
                                            Foundation. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="feedbackTxt">
                                    <div class="feedbackLeft">
                                        <img src="assets/images/watershed.jpg" alt="">
                                    </div>
                                    <div class="feedbackRight">
                                        <h4>Watershed Development, <span>Darlaghat HP</span></h4>
                                        <p class="wow fadeInUp">When ACF commenced work in Darlaghat they soon realized
                                            that water was the most pressing issue there. Erratic rainfall and limited
                                            water harvesting structures, along with wrong farming techniques, were
                                            leading to soil erosion, eradication of the green cover and reduced yield –
                                            impacting incomes.</p>
                                        <p class="wow fadeInUp">Over almost 2 decades, ACF took a 'Ridge to Valley’
                                            Watershed Development approach– addressing conservation, protection, and
                                            development of resources with active participation of the local community.
                                            The results have been transformative and water is once again flourishing in
                                            the area.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="feedbackTxt">
                                    <div class="feedbackLeft">
                                        <img src="assets/images/Rabriyawas.jpg" alt="">
                                    </div>
                                    <div class="feedbackRight">
                                        <h4>Drinking Water Transformation <span>Rabriyawas Rajasthan</span></h4>
                                        <p class="wow fadeInUp">When ACF began working in the deserts of Rajasthan, they
                                            called a community meeting to understand their needs. Men did the talking,
                                            women sat and listened. But when asked "Tell us what you need?" the women
                                            jumped to their feet. "We want nothing, just bring us water!"</p>
                                        <p class="wow fadeInUp">Over the course of the next 10 years, the situation
                                            slowly turned around. Water became accessible. Abundant. A 2015 study showed
                                            5 times social return on investment for the water program in Rabriyawas.
                                            ACF's drinking water program impacts 24,000 women in Rajasthan. Today 1000
                                            women are into income generation and business. SHG participation is up 50%.
                                            And 100% of girls attend school. </p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="feedbackTxt">
                                    <div class="feedbackLeft">
                                        <img src="assets/images/Agricultural-Revolution.jpg" alt="">
                                    </div>
                                    <div class="feedbackRight">
                                        <h4>Agricultural Revolution, <span>Sankrail, West Bengal</span></h4>
                                        <p class="wow fadeInUp">When ACF began working in the deserts of Rajasthan, they
                                            called a community meeting to understand their needs. Men did the talking,
                                            women sat and listened. But when asked "Tell us what you need?" the women
                                            jumped to their feet. "We want nothing, just bring us water!"</p>
                                        <p class="wow fadeInUp">Over the course of the next 10 years, the situation
                                            slowly turned around. Water became accessible. Abundant. A 2015 study showed
                                            5 times social return on investment for the water program in Rabriyawas.
                                            ACF's drinking water program impacts 24,000 women in Rajasthan. Today 1000
                                            women are into income generation and business. SHG participation is up 50%.
                                            And 100% of girls attend school. </p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>