<div class="ourPeoplePage">

   
  
    <section class="topInsideBanner ourPeaopleBanner pos-rel">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="wow fadeInUp"><span>OUR PEOPLE</span>
              WE ARE ONLY AS GOOD AS THE PEOPLE <br>WHO DRIVE US
            </h1>
          </div>
        </div>
      </div>
    </section>
  
    <section class="boardLists pos-rel">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="wow fadeInUp">A non-profit board sets the tone for the organisation it leads and at ACF, we
              are privileged to have a vast amount of experience, knowledge and wisdom at
              our helm. We are forever grateful for the hard work put in by our Board in
            governing such a large organisation.</p>
            <h3 class="wow fadeInUp">BOARD</h3>
          </div>
          <!--  -->
          <div class="col-md-4">
            <div class="inCommitee">
              <img src="assets/images/narotam-img.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Narotam Sekhsaria</p>
              <a href="javascript:void(0);"><img src="assets/images/icon.png" alt=""></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="inCommitee" type="button" data-toggle="modal" data-target="#board_1">
              <img src="assets/images/Chandra-Shekhar-Rajan-img.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Chandra Shekhar Rajan</p>
              <a href="javascript:void(0);"><img src="assets/images/icon.png" alt=""></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="inCommitee">
              <img src="assets/images/pk-laberi-img.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">P K Laheri</p>
              <a href="javascript:void(0);"><img src="assets/images/icon.png" alt=""></a>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="col-md-4">
            <div class="inCommitee">
              <img src="assets/images/ashni-img.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Ashni Biyani</p>
              <a href="javascript:void(0);"><img src="assets/images/icon.png" alt=""></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="inCommitee">
              <img src="assets/images/vijay-kumar-sharma-img.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Vijay Kumar Sharma</p>
              <a href="javascript:void(0);"><img src="assets/images/icon.png" alt=""></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="inCommitee">
              <img src="assets/images/padmini-img.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Padmini Sekhsaria</p>
              <a href="javascript:void(0);"><img src="assets/images/icon.png" alt=""></a>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="col-md-4">
            <div class="inCommitee">
              <img src="assets/images/bl-taparia-img.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">B L Taparia</p>
              <a href="javascript:void(0);"><img src="assets/images/icon.png" alt=""></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="inCommitee">
              <img src="assets/images/neeraj-img.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Neeraj Akhoury</p>
              <a href="javascript:void(0);"><img src="assets/images/icon.png" alt=""></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="inCommitee">
              <img src="assets/images/peal-img.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Pearl Tiwari</p>
              <a href="javascript:void(0);"><img src="assets/images/icon.png" alt=""></a>
            </div>
          </div>
  
        </div>
      </div>
    </section>
    <section class="executiveCommitee">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="wow fadeInUp">Executive Committee</h3>
          </div>
          <div class="col-md-4">
            <div class="executiveIn">
              <img src="assets/images/excutive-img1.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Pearl Tiwari<span>Director & CEO <br>
              Ambuja Cement Foundation</span></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="executiveIn">
              <img src="assets/images/excutive-img2.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Chandrakant Kumbhani<span>Vice President <br>
                Community Development 
              Program</span></p>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="executiveIn">
              <img src="assets/images/excutive-img3.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Ravi Nayse <span>Vice President<br>
              Skill Development Program</span></p>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div class="executiveIn">
              <img src="assets/images/excutive-img4.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Anagha Mahajani <span>Vice President<br>
              Program Research & Monitoring </span></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="executiveIn">
              <img src="assets/images/excutive-img5.png" class="img-responsive" alt="">
              <p class="wow fadeInUp">Manoj Agarwal <span>Deputy General Manager<br>
              North & East</span></p>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  
    <section class="peaopleAcf">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="wow fadeInUp">PEOPLE AT ACF</h3>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <div class="row">
              <div class="col-md-3">
                <div class="AcfIn OneP">
                  <p class="wow fadeInUp">295
                    <span>Women</span>
                  </p>+
                  <p class="wow fadeInUp">795
                    <span>men</span>
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="AcfIn twoP">
                  <p class="wow fadeInUp">1090
                    <span>
                      Staff Members 
                      with 372  
                      Graduates or 
                    Doctorates</span>
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="AcfIn threeP">
                  <p class="wow fadeInUp">11+
                    <span>YEARS OF
                      LOYALTY FROM
                      ALMOST 10% OF
                    STAFF</span>
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="AcfIn fourP">
                  <p class="wow fadeInUp">
                    <span>CERTIFIED AS A</span>
                    ‘GREAT PLACE
                    TO WORK’
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="readMore">
              <a href="#">JOIN OUR TEAM <span><img src="assets/images/arrow-black.png" alt="Our approach"></span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>

    <!-- Modal -->
  <div id="board_1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="allPoup">
            <div class="row">
              <div class="col-md-12">
                <a type="button" href="javascript:void(0)" data-dismiss="modal" class="crossIc"><img src="assets/images/cross.png" alt=""></a>
              </div>
              <div class="col-md-4">
                <div class="popupImages">
                  <img src="assets/images/chandra-shekhar-rajan.png" alt="" class="img-responsive">
                  <p class="wow fadeInUp">Chandra Shekhar Rajan</p>
                </div>
              </div>
              <div class="col-md-8">
                <div class="popupContents">
                  <p>C S Rajan is an an IAS officer of
                    the 1978 batch who retired as
                    Chief Secretary, Rajasthan in 2016.
                    Since then he has been serving as
                    Deputy Chairman, Chief Minister’s
                    Advisory Council. During his years
                    in the IAS he has served in various
                    capacities in agriculture and rural
                    development, before spending
                    12 years in infrastructure sectors
                    like power, roads, industries and
                    5 years in finance and general
                    administration, respectively. He
                    has co-authored a book on ‘Farmers
                    Participation in Agricultural Research
                    and Extension’. He has also briefly
                    served as a Consultant with the
                    World Bank. In October 2018, he was
                    appointed by the Union Government
                    as Director on the Board of IL&FS
                    and since April 2019, he has been
                  serving as MD, IL&FS. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->