<div class="programeWaterPage">



    <section class="topInsideBanner pos-rel">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="wow fadeInUp"><span>our Water mission
                        </span>
                        to build drought resilient rural
                        villages and ensure all year round
                        water for farmers, families and
                        communities.
                    </h1>
                </div>
            </div>
        </div>
    </section>

    <section class="drinkingWater">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="allHeads">
                        <h3>Our WATER Interventions</h3>
                    </div>
                    <div class="italicTxt">
                        <p>We create awareness and educate communities, farmers and organisations in
                            rural areas on the sustainable use of water and techniques to harvest it for the
                            future - to help solve the water crisis in rural India.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="interventionsBox">
                        <div class="interventIns">
                            <p>DRINKING
                                WATER
                                SECURITY</p>
                            <img src="assets/images/programe-icon1.png" alt="">
                        </div>
                        <a href="">Know more <img src="assets/images/arrow-black.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="interventionsBox">
                        <div class="interventIns">
                            <p>WATER FOR
                                LIVELIHOOD</p>
                            <img src="assets/images/programe-icon2.png" alt="">
                        </div>
                        <a href="">Know more <img src="assets/images/arrow-black.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="interventionsBox">
                        <div class="interventIns">
                            <p>WATER USE &
                                EFFICIENCY</p>
                            <img src="assets/images/programe-icon3.png" alt="">
                        </div>
                        <a href="">Know more <img src="assets/images/arrow-black.png" alt=""></a>
                    </div>
                </div>
            </div>
            </div>
    </section>


    <section class="waterMacro tab_bg_1">
        <div class="container">
            <div class="row">
                <div class="allHeads whiteTxt">
                    <h3>WATER IMPACT</h3>
                </div>
                <div class="impactinsideTab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="txtDats">
                                    <div class="investData">
                                        <img src="assets/images/water-icon1.png" alt="">
                                        <p>160+
                                            Crore</p>
                                    </div>
                                    <h4>INVESTED</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="txtDats">
                                    <div class="investData">
                                        <img src="assets/images/water-icon2.png" alt="">
                                        <p>2-12
                                            METRES</p>
                                    </div>
                                    <h4>INCREASE IN
                                        GROUND WATER
                                        LEVEL
                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="txtDats">
                                    <div class="investData">
                                        <img src="assets/images/water-icon3.png" alt="">
                                        <p>FROM
                                            1 CROP TO
                                            3 CROP</p>
                                    </div>
                                    <h4>HARVESTED PER
                                        YEAR</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="txtDats">
                                    <div class="investData">
                                        <img src="assets/images/water-icon4.png" alt="">
                                        <p>6206
                                            RRWHS</p>
                                    </div>
                                    <h4>BUILT FOR
                                        FAMILIES</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="txtDats">
                                    <div class="investData">
                                        <img src="assets/images/water-icon5.png" alt="">
                                        <p>500-5000
                                            PPM</p>
                                    </div>
                                    <h4>REDUCTION
                                        IN TDS </h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="txtDats">
                                    <div class="investData">
                                        <img src="assets/images/water-icon6.png" alt="">
                                        <p>70+
                                            KILOMETRES</p>
                                    </div>
                                    <h4>RIVERS &amp; WATER
                                        BODIES

                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="txtDats">
                                    <div class="investData">
                                        <img src="assets/images/water-icon7.png" alt="">
                                        <p>MIGRATION
                                            REDUCED</p>
                                    </div>
                                    <h4>BY CREATING
                                        LIVELIHOODS</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="txtDats">
                                    <div class="investData">
                                        <img src="assets/images/water-icon8.png" alt="">
                                        <p>5452
                                            HECTARE</p>
                                    </div>
                                    <h4>UNDER MICRO
                                        IRRIGATION
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="recognigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads yellowTxt">
                        <h3 class="wow fadeInUp">RECOGNITION</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="ProrecognitionSlider owl-carousel owl-theme">
                        <div class="item">
                            <div class="recognitionIn">
                                <div class="yearsPro">
                                    <img src="assets/images/recognition-icon.png" alt="">
                                    <p>2021</p>
                                </div>
                                <h4 class="wow fadeInUp">ROTARY CSR
                                    AWARD
                                </h4>
                                <p class="wow fadeInUp">For Water
                                    Sanitation &
                                    Hygiene</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="recognitionIn">
                                <div class="yearsPro">
                                    <img src="assets/images/recognition-icon.png" alt="">
                                    <p>2020</p>
                                </div>
                                <h4 class="wow fadeInUp">ICC SOCIAL
                                    IMPACT AWARD
                                </h4>
                                <p class="wow fadeInUp">For Clean Water
                                    & Sanitation </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="recognitionIn">
                                <div class="yearsPro">
                                    <img src="assets/images/recognition-icon.png" alt="">
                                    <p>2019</p>
                                </div>
                                <h4 class="wow fadeInUp">NATIONAL
                                    WATER
                                    MISSION
                                    AWARDS

                                </h4>
                                <p class="wow fadeInUp">For working in
                                    vulnerable areas
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="recognitionIn">
                                <div class="yearsPro">
                                    <img src="assets/images/recognition-icon.png" alt="">
                                    <p>2017</p>
                                </div>
                                <h4 class="wow fadeInUp">CII 11TH
                                    NATIONAL
                                    AWARD FOR
                                    EXCELLENCE

                                </h4>
                                <p class="wow fadeInUp">In Water
                                    Management </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="recognitionIn">
                                <div class="yearsPro">
                                    <img src="assets/images/recognition-icon.png" alt="">
                                    <p>2021</p>
                                </div>
                                <h4 class="wow fadeInUp">ROTARY CSR
                                    AWARD
                                </h4>
                                <p class="wow fadeInUp">For Water
                                    Sanitation &
                                    Hygiene</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="recognitionIn">
                                <div class="yearsPro">
                                    <img src="assets/images/recognition-icon.png" alt="">
                                    <p>2020</p>
                                </div>
                                <h4 class="wow fadeInUp">ICC SOCIAL
                                    IMPACT AWARD
                                </h4>
                                <p class="wow fadeInUp">For Clean Water
                                    & Sanitation </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="recognitionIn">
                                <div class="yearsPro">
                                    <img src="assets/images/recognition-icon.png" alt="">
                                    <p>2019</p>
                                </div>
                                <h4 class="wow fadeInUp">NATIONAL
                                    WATER
                                    MISSION
                                    AWARDS

                                </h4>
                                <p class="wow fadeInUp">For working in
                                    vulnerable areas
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="recognitionIn">
                                <div class="yearsPro">
                                    <img src="assets/images/recognition-icon.png" alt="">
                                    <p>2017</p>
                                </div>
                                <h4 class="wow fadeInUp">CII 11TH
                                    NATIONAL
                                    AWARD FOR
                                    EXCELLENCE

                                </h4>
                                <p class="wow fadeInUp">In Water
                                    Management </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="storyMacro">

        <div class="allHeads">
            <h3>IMPACT STORIES</h3>
        </div>
        <div class="sliderFull">
            <div class="clientTestimonialNew owl-carousel owl-theme">
                <div class="item">
                    <div class="feedbackTxt">
                        <div class="feedbackLeft">
                            <img src="assets/images/macro-img.png" class="img-responsive" alt="">
                        </div>
                        <div class="feedbackRight">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mapGj">
                                        <img src="assets/images/map-pro.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mapGjC">
                                        <h4>SALINITY <span>GUJARAT </span></h4>
                                        <p class="wow fadeInUp">In the early 90’s, Kodinar region was crippled by
                                            salinity. With groundwater being pumped
                                            out at alarming rates, salt water from the
                                            sea seeped inland, stopping the agricultural
                                            sector that the region so heavily relies upon
                                            for livelihood. But after 2 decades of water
                                            work led by ACF, today, the region is thriving.
                                            It is nothing short of a transformation!</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mapBtnd">
                                        <img src="assets/images/dsd.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="item">
                    <div class="feedbackTxt">
                        <div class="feedbackLeft">
                            <img src="assets/images/macro-img.png" class="img-responsive" alt="">
                        </div>
                        <div class="feedbackRight">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mapGj">
                                        <img src="assets/images/map-pro.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mapGjC">
                                        <h4>Darlaghat <span>Watershed </span></h4>
                                        <p class="wow fadeInUp">Many mountain people who live on the ridges and hill
                                            slopes of Himachal Pradesh had limited access to water for drinking and
                                            agriculture. Springs were drying up, and mountain agriculture, which is
                                            largely rainfed, was impacted by drought. That is until ACF revived
                                            traditional systems of water harvesting, and undertook springshed
                                            development to rejuvenate the entire region and kickstart agriculture, and
                                            the local economy.</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mapBtnd">
                                        <img src="assets/images/dsd.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="item">
                    <div class="feedbackTxt">
                        <div class="feedbackLeft">
                            <img src="assets/images/macro-img.png" class="img-responsive" alt="">
                        </div>
                        <div class="feedbackRight">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mapGj">
                                        <img src="assets/images/map-pro.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mapGjC">
                                        <h4>Rabriyawas <span>Rajasthan</span></h4>
                                        <p class="wow fadeInUp">Located on the edge of the Thar Desert, Rabriyawas was
                                            once a barren dry region where farmers could barely grow one crop per year,
                                            and women’s time was spent fetching water for the household. But today,
                                            after xxx years of water work by ACF, it is a vibrant area where farmers
                                            crop 2-3 crops per year, women spend their time in income generation, and
                                            the local economy is booming.</p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mapBtnd">
                                        <img src="assets/images/dsd.png" class="img-responsive" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="inTheNews">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads blacktxt">
                        <h3 class="wow fadeInUp">FROM THE GROUND VIDEOS</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="inTheNewsSlider owl-carousel owl-theme">
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/video-img1.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">Water for Farmers</p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/video-img2.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">Water Irrigation</p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/video-img3.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">Water Harvesting</p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/video-img1.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">Water for Farmers</p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/video-img2.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">Water Irrigation</p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/video-img3.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">Water Harvesting</p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="trustedPartner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="wow fadeInUp">OUR WATER PARTNERS

                    </h3>
                </div>
            </div>
            <div class="partnerLogos hidden-xs">
                <div class="col-md-12">
                    <img src="assets/images/logos-merges.png" class="img-responsive" />
                </div>
            </div>
            <div class="partnerLogos visible-xs">
                <div class="partnerLogosSliderN owl-carousel owl-theme">
                    <div class="item">
                        <div class="indLogo">
                            <img src="assets/images/logo1a.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="indLogo">
                            <img src="assets/images/logo2a.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="indLogo">
                            <img src="assets/images/logo3a.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="indLogo">
                            <img src="assets/images/logo4a.png" class="img-responsive" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="indLogo">
                            <img src="assets/images/logo5a.png" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>