
<section class="ourPresence">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="wow fadeInUp">Our PRESENCE</h3>
            </div>
            <div class="col-md-5">

                <div id="tabs-0">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>Gujarat <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>ACF works across 3 locations in Gujarat - Kodinar, Surat and Sanand. This is where it all
                            began back in 1993, when ACF launched its first water programs in Kodinar. Today this work
                            has evolved and grown to now reach far and wide across the regions that we touch.</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>

                <div id="tabs-1">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>Himachal Pradesh <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>Himachal Pradesh Data</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>Maharashtra <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>Maharashtra Data</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>Rajasthan <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>Rajasthan Data</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>
                <div id="tabs-4">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>Chhattisgarh <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>Chhattisgarh Data</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>
                <div id="tabs-5">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>Punjab <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>Punjab Data</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>
                <div id="tabs-6">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>West Bengal <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>West Bengal Data</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>
                <div id="tabs-7">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>Uttar Pradesh <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>Uttar Pradesh Data</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>
                <div id="tabs-8">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>Uttrakhand <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>Uttrakhand Data</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>
                <div id="tabs-9">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>Andhra Pradesh <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>Andhra Pradesh Data</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>
                <div id="tabs-10">
                    <div class="dropSecContents">
                        <ul class="list-unstyled">
                            <li>Madhya Pradesh <img src="assets/images/red-triangle-img.png" alt=""></li>
                        </ul>
                        <p>Madhya Pradesh Data</p>
                        <a href=""><img src="assets/images/icon.png" alt=""></a>
                    </div>
                </div>
                <div class="dropElements">
                    <ul class="list-unstyled">
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-0">Gujarat <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-1">Himachal Pradesh <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-2">Maharashtra <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-3">Rajasthan <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-4">Chhattisgarh <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-5">Punjab <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-6">West Bengal <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-7">Uttar Pradesh <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-8">Uttrakhand <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-9">Andhra Pradesh <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                        <li class="wow fadeInUp"><a href="javascript:void(0)" id="click-tabs-10">Madhya Pradesh <img
                                    src="assets/images/yellow-triangle-img.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div class="rightMap">
                    <div id="map-0">
                        <img src="assets/svg/gujrat.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                    <div id="map-1">
                        <img src="assets/svg/Himachal Pradesh.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                    <div id="map-2">
                        <img src="assets/svg/Maharashtra.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                    <div id="map-3">
                        <img src="assets/svg/Rajasthan.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                    <div id="map-4">
                        <img src="assets/svg/Chhattisgarh.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                    <div id="map-5">
                        <img src="assets/svg/Punjab.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                    <div id="map-6">
                        <img src="assets/svg/West Bengal.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                    <div id="map-7">
                        <img src="assets/svg/Uttar Pradesh.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                    <div id="map-8">
                        <img src="assets/svg/Uttrakhand.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                    <div id="map-9">
                        <img src="assets/svg/Andhra Pradesh.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                    <div id="map-10">
                        <img src="assets/svg/Madhya Pradesh.svg" class="img-responsive" alt="">
                        <p class="wow fadeInUp">* Disclaimer: Map of India should not be used for navigation or legal
                            purposes. It is
                            intended as graphical element to the design layout and does not warrant the Map or its
                            features to be either spatially or temporally accurate or fit for a particular use. Ambuja
                            Cement Foundation do not claim the correctness or authenticity of the same.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>