<div class="ourPresencePage">
    <section class="topInsideBanner pos-rel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="wow fadeInUp"><span>OUR PRESENCE</span>
                        GUJARAT
                    </h1>
                </div>
            </div>
        </div>
    </section>


    <section class="awardsReco">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="allHeads">
                        <h3 class="wow fadeInUp">THE CHALLENGES</h3>
                    </div>
                    <h4>Kodinar, Gujarat has had a long struggle with salinity ingress, which crippled the agricultural
                        sector and threatened the survival of over 200,000 people across 900 square kilometres. Whilst
                        ACF has spent close to 30 years reversing this problem, water remains a concern.</h4>
                    <p class="wow fadeInUp">Women were largely supressed until the advent of the Women’s Federation and
                        SHG movement. However a ‘saturation’ approach is required to ensure every woman is involved in
                        income generation and gains independence. Non-communicable disease is rampant and there is a
                        widespread lack of awareness on menstrual hygiene. And whilst much work has been done to
                        increase the profitability of farmers, this remains a focus due to the area’s reliance on
                        agriculture as a livelihood.</p>
                    <p class="wow fadeInUp mrgTops">Non communicable disease is rampant and there is a widespread lack
                        of awareness on menstrual hygiene. And whilst much work has been done to increase the
                        profitability of farmers, this remains a focus due to the area’s reliance on agriculture as a
                        livelihood.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="presenceInGujarat">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads">
                        <h3>PRESENCE IN GUJARAT</h3>
                    </div>
                    <h4>ACF works in 580 villages in Gujarat across 9 Districts/Blocks</h4>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="nubmerMap">
                                <div class="col-md-3">
                                    <ol>
                                        <li>Gir Somnath</li>
                                        <li>Junagadh</li>
                                        <li>Amreli</li>
                                        <li>Bhavnagar</li>
                                        <li>Morbi</li>
                                        <li>Gandhinagar</li>
                                        <li>Ahmedabad</li>
                                        <li>Mahesana</li>
                                        <li>Surat</li>
                                    </ol>
                                </div>
                                <div class="col-md-9">
                                    <img src="assets/images/gujarat-img.png" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="full-imgs innerParralax_1">
    </div>

    <section class="programsAwards">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads">
                        <h3 class="wow fadeInUp">PROGRAM HIGHLIGHTS</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="awardsTabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#awards-1">WATER</a></li>
                            <li class="wow fadeInUp"><a data-toggle="tab" href="#awards-2">AGRICULTURE</a></li>
                            <li class="wow fadeInUp"><a data-toggle="tab" href="#awards-3">WOMEN</a></li>
                            <li class="wow fadeInUp"><a data-toggle="tab" href="#awards-4">HEALTH</a></li>
                            <li class="wow fadeInUp"><a data-toggle="tab" href="#awards-5">SKILL</a></li>
                            <li class="wow fadeInUp"><a data-toggle="tab" href="#awards-6">EDUCATION</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="awards-1" class="tab-pane fade in active">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="assets/images/water.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="awrdsTabsC">
                                                <p>Micro irrigation is a major thrust area with 6162 ha converted and
                                                    500 ha added each year – saving water and enhancing yields.
                                                    Communities are being empowered to conduct Water Quality Testing,
                                                    and in partnership with WASMO (Government of Gujarat) 78 coastal
                                                    villages have received tap connectivity to date. Importantly, ground
                                                    water is also being monitored and managed.</p>
                                                <div class="threeDots">
                                                    <div class="indDots">
                                                        <h4>38.79 mcm</h4>
                                                        <p>Additional water storage capacity</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>3800 mg/litre </h4>
                                                        <p>Reduction in TDS levels</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>10-20kms </h4>
                                                        <p>Pushback of Salinity</p>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <div class="threeDots">
                                                    <div class="indDots">
                                                        <h4>6162ha</h4>
                                                        <p>Under Micro Irrigation</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>22% increase in profit </h4>
                                                        <p>Due to Drip Irrigation</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>78 Villages </h4>
                                                        <p>With 100% Tap Connectivity</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-2" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="assets/images/agriculture.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="awrdsTabsC">
                                                <p>Better Cotton is the primary focus with over 38600 farmers engaged.
                                                    Allied agriculture strengthens income streams for farmers so ACF
                                                    promotes animal husbandry and works to optimize cattle health and
                                                    milk production. Horticulture and vegetable plantation are also
                                                    crucial thrusts. ACF builds the capacity of farmers via the
                                                    formation of FPO’s and supports value-added products like mango pulp
                                                    and ginger powder. </p>
                                                <div class="threeDots">
                                                    <div class="indDots">
                                                        <h4>39,600 </h4>
                                                        <p>Better Cotton Farmers</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>60,545 Ha </h4>
                                                        <p>Under Better Cotton System</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>5497 ha</h4>
                                                        <p>Orchards</p>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <div class="threeDots">
                                                    <div class="indDots">
                                                        <h4>10,614 farmers </h4>
                                                        <p>Using bio products</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>39,618 farmers</h4>
                                                        <p>Use safety equipment </p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>25 Entrepreneurs </h4>
                                                        <p>value adding produce</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="awards-3" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="assets/images/women.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="awrdsTabsC">
                                                <p>ACF promotes the socio-economic empowerment of women by forming
                                                    Self-Help Groups – training women on micro-credit, bank linkages,
                                                    credit rotation plans and income generation. In Gujarat, the groups
                                                    are so independent that they have started their own Credit
                                                    Cooperative Society. Women have also established the Sorath Mahila
                                                    Vikas Sahkari Madadli to take up socio-economic development
                                                    activities in the region. </p>
                                                <div class="threeDots fourDot">
                                                    <div class="indDots">
                                                        <h4>956</h4>
                                                        <p>Self Help Groups </p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>11,462</h4>
                                                        <p>Women Engaged</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>1</h4>
                                                        <p>Women’s Federation</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>1600</h4>
                                                        <p>Accounts in Credit Cooperative Society</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-4" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="assets/images/health.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="awrdsTabsC">
                                                <p>ACF promotes preventive and promotive health with a strong focus on
                                                    women and children. The program is implemented by trained, village
                                                    based health workers. These Sakhis are associated with the
                                                    Government to provide better health facilities at village level.
                                                    Sanitation remains a focus, with 14 ODF villages created. ACF also
                                                    supports Anganwadi centers for better nutrition for children. </p>
                                                <div class="threeDots">
                                                    <div class="indDots">
                                                        <h4>14</h4>
                                                        <p>ODF villages</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>24</h4>
                                                        <p>School Toilets Renovated</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>12</h4>
                                                        <p>Anganwadi Centres Supported</p>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <div class="threeDots">
                                                    <div class="indDots">
                                                        <h4>383</h4>
                                                        <p>Health camps </p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>65,933</h4>
                                                        <p>Patients treated in camps</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>17</h4>
                                                        <p>Sakhis</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-5" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="assets/images/skill.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="awrdsTabsC">
                                                <p>With 5 SEDI’s across Gujarat, local youth are trained in Welding,
                                                    Electrical, CNC Cutting, Nursing, BPO and Electronics. SEDI has NSDC
                                                    affiliation and features state of the art facilities for workshops
                                                    and labs. A CNC Machine has been procured to meet the needs of the
                                                    local manufacturing industry. Additionally, SEDI is a leader in
                                                    training girls in male dominated fields such as Electronics. </p>
                                                <div class="threeDots fourDot">
                                                    <div class="indDots">
                                                        <h4>14,000 </h4>
                                                        <p>Youth trained</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>11,000 </h4>
                                                        <p>Placed in jobs</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>81% </h4>
                                                        <p>Placement Rate</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>1548 Women </h4>
                                                        <p>In Male Dominated Fields</p>
                                                    </div>
                                                </div>
                                                <!--  -->

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-6" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="assets/images/education.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="awrdsTabsC">
                                                <p>ACF’s education program focuses on the promotion of physical
                                                    education, WASH and reading. To improve the quality of physical
                                                    education as a subject, training is imparted and resources provided.
                                                    To support reading, ACF has established school libraries and fosters
                                                    regular reading habits. Provision of adequate WASH facilities to
                                                    support sanitation in schools has also been prioritized.</p>
                                                <div class="threeDots fourDot">
                                                    <div class="indDots">
                                                        <h4>5</h4>
                                                        <p>School Libraries</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>10</h4>
                                                        <p>Schools in Physical Education</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>28</h4>
                                                        <p>School with WASH Facilities</p>
                                                    </div>
                                                    <div class="indDots">
                                                        <h4>1</h4>
                                                        <p>Mini Science Lab</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="staffTestimonials uniqueData">
        <div class="col-md-12">
            <div class="allHeads">
                <h3 class="wow fadeInUp">UNIQUE INITIATIVES</h3>
            </div>
        </div>

        <div class="sliderFull">
            <div class="clientTestimonial owl-carousel owl-theme">
                <div class="item">
                    <div class="feedbackTxt">
                        <div class="feedbackLeft">
                            <img src="assets/images/krishi-vigyan-kendra.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="feedbackRight">
                            <h4>Krishi Vigyan Kendra </h4>
                            <p class="wow fadeInUp">In 2007, the India Council for Agriculture Research (ICAR)
                                sanctioned establishment of a KVK by ACF for Junagdh District. KVK builds the capacities
                                of farming communities through training, demonstrations and on farm research, to reduce
                                the time lag in the transfer of technology to farmers. Complete with a Community Radio
                                Station for farmers, Soil & Water Testing Laboratory, Model Nursery, Crop Cafeteria and
                                Unit of Medicinal Plants, KVK is the pride of ACF’s work in Gujarat.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="feedbackTxt">
                        <div class="feedbackLeft">
                            <img src="assets/images/water-quality-testing.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="feedbackRight">
                            <h4>Water Quality Testing</h4>
                            <p class="wow fadeInUp">With Community Health Clinics noticing a spike in viral fevers
                                during monsoons, ACF discovered high levels of bacteria in local water sources. Taking a
                                3-phase approach ACF set about educating communities about the importance of regular
                                water quality testing -teaching them how to conduct a simple water test; and showing
                                them the steps necessary to address the problem - using chlorine powder to treat water,
                                cleaning storage tanks and electing a local Water Operator to manage the water and its
                                distribution. Today 13 villages are empowered to conduct tests and manage their Water
                                Quality.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="full-imgs innerParralax_2">
    </div>
    <section class="staffTestimonials impactStories">
        <div>
            <div>
                <div class="col-md-12">
                    <div class="allHeads">
                        <h3 class="wow fadeInUp">IMPACT STORIES</h3>
                    </div>
                </div>
                <div class="sliderFull">
                    <div class="clientTestimonial owl-carousel owl-theme">
                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/tidal-regulator-accomplishment.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="feedbackRight">
                                    <h4>Tidal Regulator Accomplishment</h4>
                                    <p class="wow fadeInUp">In 1986, the government installed 30 tidal regulators in the
                                        coastal belt of Gujarat – 6 of them in Kodinar. However, the tidal regulator in
                                        Muldwaraka went totally defunct in a short period of time. After many attempts
                                        by community to fix the problem, ACF was allotted the task of reviving it and
                                        putting their heads together, decided to build a temporary earthen bund
                                        downstream, to prevent the barrage of water from the sea. Despite multiple
                                        collapses of the bund, the team persevered and in 2009 the project was completed
                                        in just 5months.</p>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/womens-federation-cooperative-bank.jpg" class="img-responsive"
                                        alt="">
                                </div>
                                <div class="feedbackRight">
                                    <h4>Women’s Federation & Cooperative Bank</h4>
                                    <p class="wow fadeInUp">Once upon a time, the women in Kodinar, Gujarat, were so
                                        suppressed that they barely left their homes. Today they are a force to be
                                        reckoned with - uniting to form the Sorath Mahila Vikas Sahkari Madadli Women’s
                                        Federation, and kickstarting their own Cooperative Credit Society Bank. Today
                                        these women are tackling social issues such as ill-treatment of widows,
                                        sanitation and domestic violence, whilst also driving income generation for
                                        their households – transforming the status of women in just 10 years.</p>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/fishing-business-pays-off.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="feedbackRight">
                                    <h4>Fishing Business Pays Off</h4>
                                    <p class="wow fadeInUp">‘Venuben’ is the most successful woman entrepreneur in ACF’s
                                        history! A simple housewife from Gujarat who dreamt of owning her own boat and
                                        business, and calling the shots in her life, Venuben took a massive risk,
                                        borrowed heavily and invested in a fishing boat - putting her heart and soul
                                        into her fishing enterprise. Bucking the odds, she was rewarded when, in just
                                        one bountiful fishing trip, she hauled in the extremely valuable ‘ghol fish,’
                                        earning 70lacs in one hit and paying off all her debts The future of her family
                                        was changed forever, thanks to the courage and passion of this incredible woman,
                                        supported and guided by ACF.</p>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="feedbackTxt">
                                <div class="feedbackLeft">
                                    <img src="assets/images/Transformation-of-Pipli-village.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="feedbackRight">
                                    <h4>Transformation of Pipli Village, Kodinar, Gujarat</h4>
                                    <p class="wow fadeInUp">20 years ago, farmers in Pipli grew just one crop of ground
                                        nut a year – the crop was always poor because the ground water they used was
                                        saline. The harvest was never enough to survive on, so men used to migrate to
                                        find work. But ACF helped turn things around. Back then the entire village lived
                                        in mud huts, but today they live in concrete houses. Once water came farmers
                                        grew 3 crops a year – cotton, sugarcane, wheat - and even got into animal
                                        husbandry. Pipli village is today considered 100% educated – all the kids go to
                                        school, and the older ones have government jobs or have been to college. All
                                        because of water.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>