<section class="topInsideBanner pos-rel">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="wow fadeInUp"><span>about us</span>
            Generating Rural Prosperity
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="overviewHistory">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="wow fadeInUp">Established in 1993, Ambuja Cement Foundation has had one ambitious goal - tackling rural poverty! We take families and 
            communities on a transformational journey, from a life of poverty to one of prosperity. And whilst the problem is vast, 
            we know we can make a big impact - thanks to the support of our partners. By working together, rural India can thrive, 
          once more. We work with:</p>
        </div>
        <div class="col-md-3">
          <div class="aboutFour">
            <img src="assets/images/communities-icon.png" alt="">
            <p class="wow fadeInUp">COMMUNITIES </p>
          </div>  
        </div> 
        <div class="col-md-3">
          <div class="aboutFour">
            <img src="assets/images/governments-icon.png" alt="">
            <p class="wow fadeInUp">GOVERNMENTS </p>
          </div>  
        </div> 
        <div class="col-md-3">
          <div class="aboutFour">
            <img src="assets/images/corporate-icon.png" alt="">
            <p class="wow fadeInUp">CORPORATES </p>
          </div>  
        </div> 
        <div class="col-md-3">
          <div class="aboutFour">
            <img src="assets/images/developmental-agencies-icon.png" alt="">
            <p class="wow fadeInUp">DEVELOPMENTAL AGENCIES</p>
          </div>  
        </div>
        <div class="col-md-12">
          <div class="readMore">
            <a href="#">PARTNER WITH US <span><img src="assets/images/arrow-black.png" alt="Our approach"></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ruralIndia">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-3">
              <div class="narotumLeft">
                <img src="assets/images/narotam-sekhsaria-img.png" alt="">
              </div>
            </div>
            <div class="col-md-9">
              <div class="narotumRight">
                <h4 class="wow fadeInUp">“Rural India needs us.<br> 
                  And the future of the country depends on it. 
                  Let’s join hands. Pool our respective strengths. 
                And work together, to make rural India prosper.”</h4>
                <p class="wow fadeInUp">Narotam Sekhsaria<span>Chairman, Ambuja Cement Foundation</span></p>


              </div>
            </div>
          </div>
          <div class="visionMission">
            <h3 class="wow fadeInUp">OUR VISION</h3>
            <p class="wow fadeInUp">Sustainable, prosperous communities, built on long-term partnerships.</p>
            <h3 class="wow fadeInUp">OUR MISSION</h3>
            <p class="wow fadeInUp">We energise, involve and enable communities to realise their potential.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="our-valuse">
                <h3 class="wow fadeInUp">OUR VALUES</h3>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="bgLiner pos-rel">
                  <div class="col-md-4">
                    <div class="ourValues">
                      <img src="assets/images/our-value-icon1.png" alt="">
                      <h4 class="wow fadeInUp">DIVERSITY &
                        INCLUSIVENESS
                      </h4>
                      <p class="wow fadeInUp">We include and involve people
                        from a range of different
                        genders, social and ethnic
                      backgrounds, and orientation.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="ourValues">
                      <img src="assets/images/our-value-icon2.png" alt="">
                      <h4 class="wow fadeInUp">TRUST
                      </h4>
                      <p class="wow fadeInUp">Trust is at our core, and
                        work hard to remain reliable,
                        truthful and showcase our
                      ability to generate impact.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="ourValues">
                      <img src="assets/images/our-value-icon3.png" alt="">
                      <h4 class="wow fadeInUp">INTEGRITY
                      </h4>
                      <p class="wow fadeInUp">We have a strong moral
                        compass and have imbibed
                        honesty as a critical part of
                        our culture here at ACF.
                      </p>
                    </div>
                  </div>
                  <!--  -->
                  <!--  -->
                  <div class="col-md-4">
                    <div class="ourValues">
                      <img src="assets/images/our-value-icon4.png" alt="">
                      <h4 class="wow fadeInUp">TRANSPARENCY
                      </h4>
                      <p class="wow fadeInUp">At ACF, we promote absolute
                        transparency in everything
                        we do. We communicate, and
                        form relationships, with an
                        emphasis on being direct and
                      transparent in our dealings.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="ourValues">
                      <img src="assets/images/our-value-icon5.png" alt="">
                      <h4 class="wow fadeInUp">EQUITY
                      </h4>
                      <p class="wow fadeInUp">We believe in being fair and
                      impartial in everything we do.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="ourValues">
                      <img src="assets/images/our-value-icon6.png" alt="">
                      <h4 class="wow fadeInUp">ZERO-TOLERANCE
                      </h4>
                      <p class="wow fadeInUp">We have a zero tolerance
                        policy for employees adopting
                        unethical practices and
                        violating the code of conduct. 
                      </p>
                    </div>
                  </div>
                  <!--  -->
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ourModels">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="wow fadeInUp">OUR MODEL</h3>
        </div>
        <div class="col-md-4">
          <div class="modelsBox">
            <div class="square-boxs">
              <h4 class="wow fadeInUp">ENERGISE</h4>
            </div>
            <ul>
              <li class="wow fadeInUp">Community Engagement</li>
              <li class="wow fadeInUp">Rapport Building</li>
              <li class="wow fadeInUp">Encouraging Participation</li>
              <li class="wow fadeInUp">Listen to Traditional Wisdom</li>
              <li class="wow fadeInUp">Needs Assessment</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="modelsBox">
            <div class="square-boxs">
              <h4 class="wow fadeInUp">INVOLVE</h4>
            </div>
            <ul>
              <li class="wow fadeInUp">Initiate Solutions</li>
              <li class="wow fadeInUp">Demonstrations & Pilots</li>
              <li class="wow fadeInUp">Develop People’s Institutions</li>
              <li class="wow fadeInUp">Capacity Building & Peer Learning</li>
              <li class="wow fadeInUp">Scaling Up</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="modelsBox">
            <div class="square-boxs">
              <h4 class="wow fadeInUp">ENABLE</h4>
            </div>
            <ul>
              <li class="wow fadeInUp">Impact Assessments</li>
              <li class="wow fadeInUp">Strengthening</li>
              <li class="wow fadeInUp">Institutions</li>
              <li class="wow fadeInUp">Sustaining Development</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ourJourney">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="wow fadeInUp">OUR JOURNEY</h3>
        </div>
        <div class="col-md-6">
          <div class="yearBoxes pos-rel">
            <div class="individualBoxes pos-rel">
              <div class="circleBoxess">
                <p class="wow fadeInUp">2022<br>|<br>2016</p>
              </div>
              <img src="assets/images/img1.png" class="img-responsive" alt="">
            </div>
            <div class="InhistoryBoxes boxesGaps_2 right2m">
              <h4 class="wow fadeInUp">Presence</h4>
              <ul>
                <li class="wow fadeInUp">952 villages of 21 locations</li>
              </ul>
              <h4 class="wow fadeInUp">Programs
              </h4>
              <ul>
                <li class="wow fadeInUp"><b>Water:</b> Watershed Project
                  in Himachal Pradesh in full
                  implementation phase 1100
                hectares</li>

                <li class="wow fadeInUp"><b>Agriculture:</b> First 2 FPOs
                  registered, Better Cotton
                  Implementation Partner and
                  Elected member of the Global
                Council </li>

                <li class="wow fadeInUp"><b>Skill:</b> 20 new SEDIs established</li>

                <li class="wow fadeInUp"><b>Women:</b> 1st Federation as Apex
                Institution for SHGs</li>

                <li class="wow fadeInUp">Research & Data Management
                monitoring system customized</li>
              </ul>
              <h4 class="wow fadeInUp">Partnerships</h4>
              <ul>
                <li class="wow fadeInUp">1st Public Private Partnership
                with Apollo Tyres</li>
              </ul>
            </div>

            <div class="individualBoxes pos-rel">
              <div class="circleBoxess">
                <p class="wow fadeInUp hidden-xs">2009<br>|<br>2005</p>
                <p class="wow fadeInUp visible-xs">2015<br>|<br>2010</p>
              </div>
              <img src="assets/images/img3.png" class="img-responsive" alt="">
            </div>
            <div class="InhistoryBoxes boxesGaps_2 right4m">
              <h4 class="wow fadeInUp">Presence</h4>
              <ul>
                <li class="wow fadeInUp">692 villages of 11 locations 
                </li>
              </ul>
              <h4 class="wow fadeInUp">Programs
              </h4>
              <ul>
                <li class="wow fadeInUp"><b>Water:</b> RRWHS, Watershed
                  Management, Salinity Mitigation:
                  Check Dams & Other Structures,
                Canal Interlinking networks</li>

                <li class="wow fadeInUp"><b>Women:</b> SHG Formation</li>

                <li class="wow fadeInUp"><b>Health:</b> Mobile Medical Vans
                  established, Health Camps in
                villages</li>

                <li class="wow fadeInUp"><b>Agriculture:</b> Collectivised
                  farmers through Agro-livelihood
                program</li>
              </ul>
              
            </div>

            <div class="individualBoxes pos-rel">
              <div class="circleBoxess">
                <p class="wow fadeInUp hidden-xs">1998<br>|<br>1993</p>
                <p class="wow fadeInUp visible-xs">2009<br>|<br>2005</p>
              </div>
              <img src="assets/images/img5.png" class="img-responsive" alt="">
            </div>
            
          </div>
        </div>

        <div class="col-md-6">
          <div class="historyBoxes">
            <div class="InhistoryBoxes boxesGaps_1 right1m">
              <h4 class="wow fadeInUp">Presence</h4>
              <ul>
                <li class="wow fadeInUp">Expanded to 50 districts of 12
                states of India</li>
              </ul>
              <h4 class="wow fadeInUp">Programs
              </h4>
              <ul>
                <li class="wow fadeInUp"><b>Water:</b> Created 59.62mcm water
                storage capacity</li>

                <li class="wow fadeInUp"><b>Agriculture:</b> Working with 2.2
                lakh farmers in 17 FPOs</li>

                <li class="wow fadeInUp"><b>Skill:</b> Learning Management
                  Systems & Courses for
                Entrepreneurship</li>

                <li class="wow fadeInUp"><b>Women:</b> 7 Federations, 2601
                SHGS, 28,000 women members</li>

                <li class="wow fadeInUp"><b>Health:</b> Introduced NCD
                  interventions, community clinics,
                COVID-19 management</li>
              </ul>
              <h4 class="wow fadeInUp">Partnerships</h4>
              <ul>
                <li class="wow fadeInUp">75 partners (Corporates,
                  government, developmental
                agencies)</li>
              </ul>
            </div>
            <div class="individualBoxes pos-rel">
              <div class="circleBoxess1">
                <p class="wow fadeInUp hidden-xs">2015<br>|<br>2010</p>
                <p class="wow fadeInUp visible-xs">2004<br>|<br>1999</p>
              </div>
              <img src="assets/images/img2.png" class="img-responsive" alt="">
            </div>
            <div class="InhistoryBoxes boxesGaps_1 right3m">
              <h4 class="wow fadeInUp">Presence</h4>
              <ul>
                <li class="wow fadeInUp">Integrated Community Programs
                in all Ambuja Geographies</li>
              </ul>
              <h4 class="wow fadeInUp">Programs
              </h4>
              <ul>
                <li class="wow fadeInUp"><b>Water:</b> Water Resource
                  Management including de-silting
                & deepening of ponds</li>

                <li class="wow fadeInUp"><b>Agriculture:</b> Integrated Crop
                  Management, KVK Established,
                  Non-Conventional Energy
                introduced</li>

                <li class="wow fadeInUp"><b>Skill:</b> First three SEDIs initiated</li>

                <li class="wow fadeInUp"><b>Health:</b> Sakhis born as healthcare
                volunteers</li>

                <li class="wow fadeInUp"><b>Women:</b> 724 SHGs formed with
                9000 women members</li>
              </ul>
              <h4 class="wow fadeInUp">Partnerships</h4>
              <ul>
                <li class="wow fadeInUp">Grew government partnerships</li>
              </ul>
            </div>
            <div class="individualBoxes pos-rel">
              <div class="circleBoxess1">
                <p class="wow fadeInUp hidden-xs">2004<br>|<br>1999</p>
                <p class="wow fadeInUp visible-xs">1998<br>|<br>1993</p>

              </div>
              <img src="assets/images/img4.png" class="img-responsive" alt="">
            </div>
            <div class="InhistoryBoxes boxesGaps_1 right5m">
              <h4 class="wow fadeInUp">Presence</h4>
              <ul>
                <li class="wow fadeInUp">Setup base in Kodinar – 15 Villages</li>
              </ul>
              <h4 class="wow fadeInUp">Programs</h4>
              <ul>
                <li class="wow fadeInUp">Initial focus on Water</li>

                <li class="wow fadeInUp">Women were collectivized</li>
              </ul>
              <h4 class="wow fadeInUp">Partnerships</h4>
              <ul>
                <li class="wow fadeInUp">Collaborated with Government
                and other development agencies</li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>