<header id="header">
    <div class="container hidden-xs">
     <nav class="navbar navbar-inverse">
      <div class="row">
       <div class="col-md-2">
        <div class="navbar-header">
          <a class="navbar-brand" href="./">
            <img src="assets/images/logo.png" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="floatRight">
         <div class="topHeader">
          <ul class="floatRight list-unstyled list-inline">
           <li><a href="#"><span><img src="assets/images/seach-icon.png" class="img-responsive" alt=""></span>  Search</a></li>
           <li><a href="#">Blog</a></li>
         </ul>
       </div>
       <div class="mainHeader">
         <ul class="nav navbar-nav">
          <li><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/programme-water-and-sub-programme">Programmes</a></li>
          <li><a routerLink="/our-presence">Our Presence</a></li>
          <li><a routerLink="/our-impact">Impact</a></li>
          <li><a routerLink="/our-partners">Partners</a></li>
          <li><a routerLink="/media">Media</a></li>
          <li><a routerLink="/contact-us">Contact</a></li>
          <li><a routerLink="/awards-recognition">Awards</a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  </nav> 
  
  </div>
  
  <div class="container visible-xs">
    <nav class="navbar navbar-inverse">
     <div class="col-xs-6">
      <div class="navbar-header">
       <div class="logo">
        <a href="./">
          <img src="assets/images/logo.png"/>
        </a>
      </div>    
    </div>
  </div>
  <div class="col-xs-6">
    <div class="ham-icon1">
      <img src="assets/images/ham-icon.png" alt="">
    </div>
  </div>
  
  
  </nav>
  
  </div><!--container-->
  
  <div class="my-sidenav">
    <div class="cross-btn1">&times;</div>
    <ul>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/programme-water-and-sub-programme">Programmes</a></li>
      <li><a routerLink="/our-presence">Our Presence</a></li>
      <li><a routerLink="/our-impact">Impact</a></li>
      <li><a routerLink="/our-partners">Partners</a></li>
      <li><a routerLink="/media">Media</a></li>
      <li><a routerLink="/contact-us">Contact</a></li>
      <li><a routerLink="/awards-recognition">Awards</a></li>
    </ul>
  </div>
  </header>