
<section class="decadesOf">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="decadesOfIn">
                    <h3 class="wow fadeInUp">DECADES OF SIGNIFICANT IMPACT</h3>
                    <p class="wow fadeInUp">From humble beginnings in the early 90’s, working in just 15 villages with a
                        budget of Rs15lakh, we’ve spread our wings across 2613 villages, in 45 districts,
                        across 11 states – investing over 150 crores annually in pursuing our vision.</p>

                    <div class="decadesCircle">
                        <div class="decadesCircleIn floatRight">
                            <div class="leftDecades">
                                <img src="assets/images/decades-icon1.png" alt="">
                            </div>
                            <div class="rightDecades">
                                <h4 class="wow fadeInUp">59.62 MCM</h4>
                                <p class="wow fadeInUp">WATER <br>
                                    HARVESTED </p>
                            </div>
                        </div>
                        <div class="decadesCircleIn gapItedg">
                            <div class="rightDecades leftItemd">
                                <h4 class="wow fadeInUp">2 LAKH</h4>
                                <p class="wow fadeInUp">FARMER’S <br>
                                    PROFIT <br>
                                    INCREASED </p>
                            </div>
                            <div class="leftDecades">
                                <img src="assets/images/decades-icon2.png" alt="">
                            </div>
                        </div>
                        <div class="decadesCircleIn floatRight">
                            <div class="leftDecades">
                                <img src="assets/images/decades-icon3.png" alt="">
                            </div>
                            <div class="rightDecades">
                                <h4 class="wow fadeInUp">78,079</h4>
                                <p class="wow fadeInUp">YOUTH TRAINED</p>
                            </div>
                        </div>
                        <div class="decadesCircleIn gapItedg">
                            <div class="rightDecades leftItemd">
                                <h4 class="wow fadeInUp">30,929</h4>
                                <p class="wow fadeInUp">WOMEN <br>
                                    EMPOWERED
                                </p>
                            </div>
                            <div class="leftDecades">
                                <img src="assets/images/decades-icon4.png" alt="">
                            </div>

                        </div>
                        <div class="decadesCircleIn floatRight">
                            <div class="leftDecades">
                                <img src="assets/images/decades-icon5.png" alt="">
                            </div>
                            <div class="rightDecades">
                                <h4 class="wow fadeInUp">368</h4>
                                <p class="wow fadeInUp">SAKHIS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
