
<section class="trustedPartner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="wow fadeInUp">TRUSTED BY OVER 100 PARTNERS</h3>
            </div>
        </div>

        <div class="partnerLogos">
            <div class="partnerLogosSlider owl-carousel owl-theme">
                <div class="item">
                    <div class="indLogo">
                        <img src="assets/images/trusted-logo1.png" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="indLogo">
                        <img src="assets/images/trusted-logo2.png" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="indLogo">
                        <img src="assets/images/trusted-logo3.png" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="indLogo">
                        <img src="assets/images/trusted-logo4.png" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="indLogo">
                        <img src="assets/images/trusted-logo5.png" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>