<div class="mediaPage">
    <section class="topInsideBanner pos-rel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="wow fadeInUp"><span>MEDIA</span>
                        ADVOCATING FOR RURAL INDIA
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="pressCoverage">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads">
                        <h3 class="wow fadeInUp">PRESS COVERAGE</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pressCoverageIn">
                        <img src="assets/images/press-coverage-img1.png" class="img-responsive" alt="">
                        <div class="CoverageInData">
                            <span class="wow fadeInUp">19 FEB 2021 / COVERAGE</span>
                            <h4 class="wow fadeInUp">Adolescent Peer Educators</h4>
                            <p class="wow fadeInUp">Authored article on Peer Pressure as a reinforcement tool.</p>
                            <div class="readDetails">
                                <a href="">
                                    <div class="readDetailsL">
                                        <img src="assets/images/logo1.png" alt="">
                                    </div>
                                    <div class="readDetailsR">
                                        <p class="wow fadeInUp">Forbes Blog</p>
                                        <img src="assets/images/arrow-media.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pressCoverageIn">
                        <img src="assets/images/press-coverage-img2.png" class="img-responsive" alt="">
                        <div class="CoverageInData">
                            <span class="wow fadeInUp">4 DEC 2020 / COVERAGE</span>
                            <h4 class="wow fadeInUp">A tale of two women
                                federations during
                                COVID-19
                            </h4>
                            <p class="wow fadeInUp">Featuring on NDTV Swacch
                                India as women leading the
                                sanitation revolution.</p>
                            <div class="readDetails">
                                <a href="">
                                    <div class="readDetailsL">
                                        <img src="assets/images/logo2.png" alt="">
                                    </div>
                                    <div class="readDetailsR">
                                        <p class="wow fadeInUp">NDTV ONLINE</p>
                                        <img src="assets/images/arrow-media.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="pressCoverageIn">
                        <img src="assets/images/press-coverage-img3.png" class="img-responsive" alt="">
                        <div class="CoverageInData">
                            <span class="wow fadeInUp">14 NOV 2019 / COVERAGE</span>
                            <h4 class="wow fadeInUp">Ambuja’s effort to
                                make India Water
                                Positive
                            </h4>
                            <p class="wow fadeInUp">Launded by TOI for its
                                stewardship in water resource
                                management.</p>
                            <div class="readDetails">
                                <a href="">
                                    <div class="readDetailsL">
                                        <img src="assets/images/logo3.png" alt="">
                                    </div>
                                    <div class="readDetailsR">
                                        <p class="wow fadeInUp">Ambuja Cement Foundation Online</p>
                                        <img src="assets/images/arrow-media.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-4">
                    <div class="pressCoverageIn">
                        <img src="assets/images/press-coverage-img4.png" class="img-responsive" alt="">
                        <div class="CoverageInData">
                            <span class="wow fadeInUp">13 MAY 2017 / COVERAGE</span>
                            <h4 class="wow fadeInUp">Proactive CSR
                                efforts
                            </h4>
                            <p class="wow fadeInUp">Ambuja is building drought
                                resilient communities in
                                Maharashtra.</p>
                            <div class="readDetails">
                                <a href="">
                                    <div class="readDetailsL">
                                        <img src="assets/images/logo3.png" alt="">
                                    </div>
                                    <div class="readDetailsR">
                                        <p class="wow fadeInUp">Ambuja Cement Foundation Online</p>
                                        <img src="assets/images/arrow-media.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pressCoverageIn">
                        <img src="assets/images/press-coverage-img5.png" class="img-responsive" alt="">
                        <div class="CoverageInData">
                            <span class="wow fadeInUp">31 JUL 2017 / ACCOLADE</span>
                            <h4 class="wow fadeInUp">Ambuja certified 2
                                Good by ET

                            </h4>
                            <p class="wow fadeInUp">Ambuja Cement is rated 2 Good
                                by Economic Times and KPMG.</p>
                            <div class="readDetails">
                                <a href="">
                                    <div class="readDetailsL">
                                        <img src="assets/images/logo3.png" alt="">
                                    </div>
                                    <div class="readDetailsR">
                                        <p class="wow fadeInUp">Ambuja Cement Foundation Online</p>
                                        <img src="assets/images/arrow-media.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pressCoverageIn">
                        <img src="assets/images/press-coverage-img6.png" class="img-responsive" alt="">
                        <div class="CoverageInData">
                            <span class="wow fadeInUp">1 FEB 2016 / COVERAGE</span>
                            <h4 class="wow fadeInUp">Small Steps Big
                                Dreams</h4>
                            <p class="wow fadeInUp">How ACF is helping women in
                                Ambujanagar to break barriers.</p>
                            <div class="readDetails">
                                <a href="">
                                    <div class="readDetailsL">
                                        <img src="assets/images/logo3.png" alt="">
                                    </div>
                                    <div class="readDetailsR">
                                        <p class="wow fadeInUp">Ambuja Cement Foundation Online</p>
                                        <img src="assets/images/arrow-media.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-md-4">
                    <div class="pressCoverageIn">
                        <img src="assets/images/press-coverage-img7.png" class="img-responsive" alt="">
                        <div class="CoverageInData">
                            <span class="wow fadeInUp">15 APR 2016 / COVERAGE</span>
                            <h4 class="wow fadeInUp">Skill Training for
                                Youth
                            </h4>
                            <p class="wow fadeInUp">Rural youth in Rajasthan
                                getting job ready.</p>
                            <div class="readDetails">
                                <a href="">
                                    <div class="readDetailsL">
                                        <img src="assets/images/logo3.png" alt="">
                                    </div>
                                    <div class="readDetailsR">
                                        <p class="wow fadeInUp">Ambuja Cement Foundation Online</p>
                                        <img src="assets/images/arrow-media.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pressCoverageIn">
                        <img src="assets/images/press-coverage-img8.png" class="img-responsive" alt="">
                        <div class="CoverageInData">
                            <span class="wow fadeInUp">22 JUL 2016 / COVERAGE</span>
                            <h4 class="wow fadeInUp">Deployment of CSR
                                funds
                            </h4>
                            <p class="wow fadeInUp">How Ambuja makes strategic
                                use of CSR funds.</p>
                            <div class="readDetails">
                                <a href="">
                                    <div class="readDetailsL">
                                        <img src="assets/images/logo3.png" alt="">
                                    </div>
                                    <div class="readDetailsR">
                                        <p class="wow fadeInUp">Ambuja Cement Foundation Online</p>
                                        <img src="assets/images/arrow-media.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pressCoverageIn">
                        <img src="assets/images/press-coverage-img9.png" class="img-responsive" alt="">
                        <div class="CoverageInData">
                            <span class="wow fadeInUp">1 OCT 2016 / INTERVIEW</span>
                            <h4 class="wow fadeInUp">Interview with Pearl
                                Tiwari
                            </h4>
                            <p class="wow fadeInUp">Talking to Pearl Tiwari, Head
                                Ambuja Cement Foundation.</p>
                            <div class="readDetails">
                                <a href="">
                                    <div class="readDetailsL">
                                        <img src="assets/images/logo3.png" alt="">
                                    </div>
                                    <div class="readDetailsR">
                                        <p class="wow fadeInUp">Ambuja Cement Foundation Online</p>
                                        <img src="assets/images/arrow-media.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="readsMores">
                        <a href="">More <img src="assets/images/arrow-dark.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="inTheNews">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads whiteTxt">
                        <h3 class="wow fadeInUp">IN THE NEWS</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="inTheNewsSlider owl-carousel owl-theme">
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/in-the-news-img1.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">ACF on CNN Jal Daan</p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/in-the-news-img2.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">ACF on ‘The CSR Show’ – Zee Business</p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/in-the-news-img3.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">India India – ACF in
                                            Rabriyawas Rajasthan
                                        </p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/in-the-news-img1.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">ACF on CNN Jal Daan</p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/in-the-news-img2.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">ACF on ‘The CSR Show’ – Zee Business</p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="newsIn">
                                <a href="">
                                    <img src="assets/images/in-the-news-img3.png" alt="">
                                    <div class="play-icons">
                                        <p class="wow fadeInUp">India India – ACF in
                                            Rabriyawas Rajasthan
                                        </p>
                                        <img src="assets/images/video-icon2.png" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="programsAwards">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="allHeads blackTxt">
                        <h3 class="wow fadeInUp">NEWSLETTERS</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="awardsTabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#awards-1">2022</a></li>
                            <li><a data-toggle="tab" href="#awards-2">2021</a></li>
                            <li><a data-toggle="tab" href="#awards-3">2020</a></li>
                            <li><a data-toggle="tab" href="#awards-4">2019</a></li>
                            <li><a data-toggle="tab" href="#awards-5">2018</a></li>
                            <li><a data-toggle="tab" href="#awards-6">2017</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="awards-1" class="tab-pane fade in active">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/news-letter-img.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">January 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">FEBRUARY 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">MARCH 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-2" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/news-letter-img.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">January 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">FEBRUARY 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">MARCH 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-3" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/news-letter-img.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">January 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">FEBRUARY 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">MARCH 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-4" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/news-letter-img.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">January 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">FEBRUARY 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">MARCH 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-5" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/news-letter-img.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">January 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">FEBRUARY 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">MARCH 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="awards-6" class="tab-pane fade">
                                <div class="awrdsTabsB">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="assets/images/news-letter-img.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="awrdsTabsC">
                                                <h4 class="wow fadeInUp">January 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">FEBRUARY 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                                <h5 class="wow fadeInUp">DOWNLOAD</h5>
                                                <h4 class="wow fadeInUp">MARCH 2021</h4>
                                                <ul>
                                                    <li>The Future of Agriculture and
                                                        Women Welfare</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contactOnline">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="wow fadeInUp">CONTACT US ONLINE</h3>
                </div>
                <div class="col-md-3">
                    <div class="contactBoxes">
                        <img src="assets/images/contact-img1.png" alt="">
                        <a href=""><img src="assets/images/contact-fb.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contactBoxes">
                        <img src="assets/images/contact-img2.png" alt="">
                        <a href=""><img src="assets/images/contact-tw.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contactBoxes">
                        <img src="assets/images/contact-img3.png" alt="">
                        <a href=""><img src="assets/images/contact-linkdin.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contactBoxes">
                        <img src="assets/images/contact-img4.png" alt="">
                        <a href=""><img src="assets/images/contact-yt.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>